In [204]:
import unicodecsv

#read data from CSV file and make it to lists
def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)

In [205]:
order = read_csv('../data_20180120/order.csv')

เลขที่คำสั่งซื้อ (Order_ID)

In [206]:
import pandas as pd

pd.DataFrame(order)

,ORDER_ID,CUSTOMER_ID,BPCODE,CREATE_DATE,UPDATE_DATE,STATUS
0,"2,024",22,1100700373,5/10/2015 21:05,5/10/2015 21:05,PENDING
1,"2,241","4,122",1100702444,15/10/2015 18:51,15/10/2015 19:03,PENDING
2,"2,321","4,223",1100702550,16/10/2015 15:36,16/10/2015 15:42,PAID_SUCCESS
3,"2,341","4,122",1100702444,16/10/2015 23:45,16/10/2015 23:54,PENDING
4,"2,422","4,527",1100702884,17/10/2015 18:35,17/10/2015 18:45,PENDING
5,"2,442","4,462",1100702709,18/10/2015 15:41,18/10/2015 15:50,PENDING
6,"2,481","2,509",1100605014,18/10/2015 20:50,18/10/2015 20:58,PAID_SUCCESS
7,"2,561","2,784",1100686150,20/10/2015 13:37,20/10/2015 13:45,PENDING
8,"2,641","5,509",1100703880,22/10/2015 13:34,22/10/2015 13:44,PENDING
9,"2,682","5,805",1100704086,23/10/2015 13:38,23/10/2015 13:38,PENDING
10,"2,781","5,445",1100703863,26/10/2015 11:22,26/10/2015 11:25,PAID_SUCCESS
11,"3,121","8,064",1100662011,31/10/2015 16:47,31/10/2015 16:47,PENDING
12,"3,202","8,263",1100561933,1/11/2015 16:44,1/11/2015 16:46,PAID_SUCCESS
13,"3,261","8,525",1100704444,2/11/2015 16:43,2/11/2015 16:50,PENDING
14,"3,262","8,529",1100706894,2/11/2015 16:52,2/11/2015 16:52,PENDING
15,"3,341","8,724",1100707006,3/11/2015 16:47,3/11/2015 16:55,PENDING
16,"3,403","2,429",1100697318,4/11/2015 14:44,4/11/2015 14:55,PENDING
17,"3,461","9,104",1100707277,5/11/2015 23:49,5/11/2015 23:49,PENDING
18,"3,681","4,802",1100707987,8/11/2015 14:23,8/11/2015 14:31,PENDING
19,"3,781","10,366",1100708439,9/11/2015 20:58,9/11/2015 20:58,PENDING
20,"3,962","10,702",1100708595,11/11/2015 10:22,11/11/2015 10:33,PAID_SUCCESS
21,"4,001","10,722",1100708626,11/11/2015 13:44,12/11/2015 13:53,PAID_SUCCESS
22,"4,021","10,782",1100708678,11/11/2015 16:00,11/11/2015 16:06,PENDING
23,"4,101","10,955",1100708795,12/11/2015 10:11,12/11/2015 10:27,PENDING_TMN_CREATED
24,"4,121","11,062",1100708914,12/11/2015 18:46,12/11/2015 18:46,PENDING_TMN_CREATED
25,"4,221","11,162",1100708972,14/11/2015 0:16,14/11/2015 0:18,PENDING_TMN_CREATED
26,"4,461","11,804",1100655391,16/11/2015 18:46,16/11/2015 18:52,PAID_SUCCESS
27,"4,621","12,070",1100710283,17/11/2015 20:58,17/11/2015 21:11,PENDING_TMN_CREATED
28,"4,701","12,142",1100710303,18/11/2015 10:41,19/11/2015 13:49,PAID_SUCCESS
29,"4,941","12,863",1100710868,21/11/2015 8:39,21/11/2015 8:42,PAID_SUCCESS
...,...,...,...,...,...,...
11923,"105,821","188,883",1100881820,10/10/2017 19:17,10/10/2017 19:17,PENDING
11924,"105,842","184,782",1100881270,10/10/2017 20:00,10/10/2017 23:33,PAID_SUCCESS
11925,"105,901","27,468",1100731690,10/10/2017 21:03,10/10/2017 21:21,PAID_SUCCESS
11926,"108,861","195,142",1100883956,21/10/2017 2:12,21/10/2017 10:53,PAID_SUCCESS
11927,"108,882","121,343",1100559973,21/10/2017 8:46,21/10/2017 8:53,PAID_SUCCESS
11928,"108,941","197,902",1100884598,21/10/2017 11:42,21/10/2017 11:42,PENDING
11929,"109,282","199,222",1100885270,22/10/2017 22:09,22/10/2017 22:09,PENDING
11930,"109,982","2,082",1100500779,25/10/2017 16:57,25/10/2017 16:57,PENDING
11931,"112,081","205,142",1100887427,1/11/2017 15:58,1/11/2017 15:58,PENDING
11932,"112,401","206,362",1100887613,2/11/2017 12:18,2/11/2017 12:18,PENDING
11933,"113,741","209,022",1100888598,6/11/2017 14:14,6/11/2017 14:14,PENDING
11934,"115,701","212,963",1100889388,10/11/2017 20:07,11/11/2017 6:37,PAID_SUCCESS
11935,"116,061","152,723",1100889427,11/11/2017 6:27,11/11/2017 6:27,CANCEL
11936,"116,205","176,764",1100787082,11/11/2017 8:26,11/11/2017 8:26,PENDING
11937,"116,941","204,802",1100887269,11/11/2017 14:37,11/11/2017 14:42,CANCEL
11938,"118,164","215,483",1100889933,11/11/2017 21:49,11/11/2017 22:00,PAID_SUCCESS
11939,"118,168","214,662",1100889695,11/11/2017 21:52,11/11/2017 21:54,CANCEL
11940,"118,362","215,004",1100889844,11/11/2017 23:02,11/11/2017 23:03,CANCEL
11941,"118,561","169,883",1100861848,11/11/2017 23:47,11/11/2017 23:47,PENDING
11942,"119,321","217,362",1100890624,13/11/2017 14:15,13/11/2017 14:40,PAID_SUCCESS
11943,"120,061","218,702",1100890996,14/11/2017 20:50,14/11/2017 20:50,PENDING
11944,"121,121","219,903",1100891668,18/11/2017 10:05,18/11/2017 10:05,PENDING
11945,"123,061","226,222",1100893313,22/11/2017 10:27,22/11/2017 10:40,PAID_SUCCESS
11946,"123,441","227,282",1100893638,23/11/2017 13:07,23/11/2017 13:19,PAID_SUCCESS
11947,"123,641","227,722",1100893862,23/11/2017 22:12,23/11/2017 22:12,PENDING
11948,"123,901","76,584",1100894599,25/11/2017 20:29,25/11/2017 22:15,PAID_SUCCESS
11949,"124,681","41,753",1100752924,28/11/2017 14:10,28/11/2017 14:45,CANCEL
11950,"125,341","231,882",1100895816,29/11/2017 14:32,29/11/2017 14:41,PAID_SUCCESS
11951,"125,421","143,345",1100855052,29/11/2017 18:58,29/11/2017 18:58,PENDING
11952,"125,944","203,942",1100887409,1/12/2017 0:02,1/12/2017 0:01,PAID_SUCCESS

รายการสั่งซื้อที่สำเร็จ (Paid_Success)

In [215]:
order = read_csv('../data_20180120/order.csv')

df_order = pd.DataFrame(order)

data_success = df_order[df_order['STATUS'] == "PAID_SUCCESS"]

data_success

,ORDER_ID,CUSTOMER_ID,BPCODE,CREATE_DATE,UPDATE_DATE,STATUS
2,"2,321","4,223",1100702550,16/10/2015 15:36,16/10/2015 15:42,PAID_SUCCESS
6,"2,481","2,509",1100605014,18/10/2015 20:50,18/10/2015 20:58,PAID_SUCCESS
10,"2,781","5,445",1100703863,26/10/2015 11:22,26/10/2015 11:25,PAID_SUCCESS
12,"3,202","8,263",1100561933,1/11/2015 16:44,1/11/2015 16:46,PAID_SUCCESS
20,"3,962","10,702",1100708595,11/11/2015 10:22,11/11/2015 10:33,PAID_SUCCESS
21,"4,001","10,722",1100708626,11/11/2015 13:44,12/11/2015 13:53,PAID_SUCCESS
26,"4,461","11,804",1100655391,16/11/2015 18:46,16/11/2015 18:52,PAID_SUCCESS
28,"4,701","12,142",1100710303,18/11/2015 10:41,19/11/2015 13:49,PAID_SUCCESS
29,"4,941","12,863",1100710868,21/11/2015 8:39,21/11/2015 8:42,PAID_SUCCESS
32,"5,241","13,464",1100711990,24/11/2015 6:40,24/11/2015 7:03,PAID_SUCCESS
35,"5,343","13,830",1100712197,25/11/2015 11:42,25/11/2015 11:45,PAID_SUCCESS
37,"5,441","3,124",1100704391,27/11/2015 6:22,27/11/2015 6:27,PAID_SUCCESS
39,"5,724","14,837",1100707138,1/12/2015 10:29,1/12/2015 10:30,PAID_SUCCESS
40,"5,741","15,006",1100713925,1/12/2015 11:30,1/12/2015 19:05,PAID_SUCCESS
41,"5,742","15,012",1100713938,1/12/2015 11:45,1/12/2015 11:47,PAID_SUCCESS
43,"5,822","15,006",1100713925,1/12/2015 18:16,1/12/2015 19:40,PAID_SUCCESS
44,"5,841","15,082",1100714080,1/12/2015 20:25,1/12/2015 20:31,PAID_SUCCESS
47,"5,961","15,037",1100714092,2/12/2015 13:21,2/12/2015 13:32,PAID_SUCCESS
51,"6,041","15,309",1100714293,3/12/2015 11:38,3/12/2015 11:40,PAID_SUCCESS
57,"6,361","16,222",1100715592,7/12/2015 14:59,7/12/2015 15:09,PAID_SUCCESS
59,"6,482","16,367",1100715869,8/12/2015 13:10,8/12/2015 13:15,PAID_SUCCESS
65,"2,121",21,1100658148,15/10/2015 11:49,15/10/2015 11:51,PAID_SUCCESS
66,"2,122",21,1100658148,15/10/2015 11:58,15/10/2015 12:00,PAID_SUCCESS
72,"2,462","4,725",1100652466,18/10/2015 16:26,18/10/2015 16:35,PAID_SUCCESS
74,"2,661","5,547",1100643684,22/10/2015 14:46,22/10/2015 14:58,PAID_SUCCESS
82,"3,281","8,722",1100707010,3/11/2015 14:26,3/11/2015 14:54,PAID_SUCCESS
84,"3,522","9,362",1100671979,6/11/2015 12:30,6/11/2015 12:31,PAID_SUCCESS
99,"4,381","11,727",1100709922,16/11/2015 11:43,16/11/2015 11:55,PAID_SUCCESS
100,"4,401","5,066",1100689191,16/11/2015 13:05,16/11/2015 13:06,PAID_SUCCESS
103,"4,601","12,063",1100710251,17/11/2015 19:49,17/11/2015 19:53,PAID_SUCCESS
...,...,...,...,...,...,...
11874,"112,761","203,462",1100886811,3/11/2017 14:04,3/11/2017 23:45,PAID_SUCCESS
11881,"122,122","224,182",1100892779,20/11/2017 13:21,20/11/2017 13:28,PAID_SUCCESS
11882,"122,221","222,422",1100496090,20/11/2017 15:00,20/11/2017 15:04,PAID_SUCCESS
11883,"122,222","222,422",1100496090,20/11/2017 15:00,20/11/2017 15:08,PAID_SUCCESS
11889,"123,781","228,582",1100894128,25/11/2017 7:51,25/11/2017 8:00,PAID_SUCCESS
11894,"83,183","143,944",1100855468,24/6/2017 1:08,24/6/2017 1:23,PAID_SUCCESS
11895,"83,322","134,645",1100847847,24/6/2017 20:44,24/6/2017 20:53,PAID_SUCCESS
11896,"84,761","140,503",1100858555,3/7/2017 21:16,3/7/2017 21:21,PAID_SUCCESS
11898,"87,361","151,007",1100861908,20/7/2017 8:46,20/7/2017 8:57,PAID_SUCCESS
11899,"87,781","121,443",1100836463,23/7/2017 18:45,23/7/2017 18:48,PAID_SUCCESS
11902,"89,742","97,822",1100815868,7/8/2017 22:16,7/8/2017 22:19,PAID_SUCCESS
11904,"90,001","154,623",1100459139,9/8/2017 13:27,9/8/2017 13:30,PAID_SUCCESS
11905,"90,061","154,771",1100867134,9/8/2017 16:23,9/8/2017 16:39,PAID_SUCCESS
11909,"91,881","158,724",1100870175,22/8/2017 10:50,22/8/2017 11:23,PAID_SUCCESS
11910,"93,121","160,502",1100871621,28/8/2017 21:38,28/8/2017 21:44,PAID_SUCCESS
11912,"94,043","162,362",1100711557,31/8/2017 10:46,31/8/2017 10:51,PAID_SUCCESS
11917,"99,441","176,002",1100877015,20/9/2017 21:55,20/9/2017 22:00,PAID_SUCCESS
11922,"105,341","136,982",1100852919,9/10/2017 20:05,9/10/2017 20:18,PAID_SUCCESS
11924,"105,842","184,782",1100881270,10/10/2017 20:00,10/10/2017 23:33,PAID_SUCCESS
11925,"105,901","27,468",1100731690,10/10/2017 21:03,10/10/2017 21:21,PAID_SUCCESS
11926,"108,861","195,142",1100883956,21/10/2017 2:12,21/10/2017 10:53,PAID_SUCCESS
11927,"108,882","121,343",1100559973,21/10/2017 8:46,21/10/2017 8:53,PAID_SUCCESS
11934,"115,701","212,963",1100889388,10/11/2017 20:07,11/11/2017 6:37,PAID_SUCCESS
11938,"118,164","215,483",1100889933,11/11/2017 21:49,11/11/2017 22:00,PAID_SUCCESS
11942,"119,321","217,362",1100890624,13/11/2017 14:15,13/11/2017 14:40,PAID_SUCCESS
11945,"123,061","226,222",1100893313,22/11/2017 10:27,22/11/2017 10:40,PAID_SUCCESS
11946,"123,441","227,282",1100893638,23/11/2017 13:07,23/11/2017 13:19,PAID_SUCCESS
11948,"123,901","76,584",1100894599,25/11/2017 20:29,25/11/2017 22:15,PAID_SUCCESS
11950,"125,341","231,882",1100895816,29/11/2017 14:32,29/11/2017 14:41,PAID_SUCCESS
11952,"125,944","203,942",1100887409,1/12/2017 0:02,1/12/2017 0:01,PAID_SUCCESS

รายการสั่งซื้อที่คงค้าง (Pending)

In [216]:
order = read_csv('../data_20180120/order.csv')

df_order = pd.DataFrame(order)

data_pending = df_order[df_order['STATUS'] == "PENDING"]

data_pending

,ORDER_ID,CUSTOMER_ID,BPCODE,CREATE_DATE,UPDATE_DATE,STATUS
0,"2,024",22,1100700373,5/10/2015 21:05,5/10/2015 21:05,PENDING
1,"2,241","4,122",1100702444,15/10/2015 18:51,15/10/2015 19:03,PENDING
3,"2,341","4,122",1100702444,16/10/2015 23:45,16/10/2015 23:54,PENDING
4,"2,422","4,527",1100702884,17/10/2015 18:35,17/10/2015 18:45,PENDING
5,"2,442","4,462",1100702709,18/10/2015 15:41,18/10/2015 15:50,PENDING
7,"2,561","2,784",1100686150,20/10/2015 13:37,20/10/2015 13:45,PENDING
8,"2,641","5,509",1100703880,22/10/2015 13:34,22/10/2015 13:44,PENDING
9,"2,682","5,805",1100704086,23/10/2015 13:38,23/10/2015 13:38,PENDING
11,"3,121","8,064",1100662011,31/10/2015 16:47,31/10/2015 16:47,PENDING
13,"3,261","8,525",1100704444,2/11/2015 16:43,2/11/2015 16:50,PENDING
14,"3,262","8,529",1100706894,2/11/2015 16:52,2/11/2015 16:52,PENDING
15,"3,341","8,724",1100707006,3/11/2015 16:47,3/11/2015 16:55,PENDING
16,"3,403","2,429",1100697318,4/11/2015 14:44,4/11/2015 14:55,PENDING
17,"3,461","9,104",1100707277,5/11/2015 23:49,5/11/2015 23:49,PENDING
18,"3,681","4,802",1100707987,8/11/2015 14:23,8/11/2015 14:31,PENDING
19,"3,781","10,366",1100708439,9/11/2015 20:58,9/11/2015 20:58,PENDING
22,"4,021","10,782",1100708678,11/11/2015 16:00,11/11/2015 16:06,PENDING
36,"5,361","13,786",1100546197,25/11/2015 22:57,25/11/2015 22:57,PENDING
45,"5,881","14,648",1100713155,1/12/2015 22:04,1/12/2015 22:04,PENDING
48,"5,962","6,711",1100462899,2/12/2015 13:24,2/12/2015 13:24,PENDING
52,"6,064","10,550",1100478964,3/12/2015 20:47,3/12/2015 20:47,PENDING
61,"6,541","2,412",1100463792,9/12/2015 10:25,9/12/2015 10:25,PENDING
62,"2,061",22,1100700373,6/10/2015 23:36,6/10/2015 23:36,PENDING
64,"2,103",21,1100658148,15/10/2015 9:15,15/10/2015 9:15,PENDING
68,"2,261","4,082",1100695367,15/10/2015 22:55,15/10/2015 22:58,PENDING
69,"2,262","4,082",1100695367,15/10/2015 22:55,15/10/2015 22:55,PENDING
70,"2,281",22,1100700373,16/10/2015 11:31,16/10/2015 11:31,PENDING
71,"2,381","4,444",1100702677,17/10/2015 13:23,17/10/2015 13:30,PENDING
73,"2,501","4,991",1100703519,19/10/2015 21:50,19/10/2015 22:00,PENDING
75,"2,801","6,645",1100705151,26/10/2015 14:39,26/10/2015 14:48,PENDING
...,...,...,...,...,...,...
11890,"124,721","41,753",1100752924,28/11/2017 14:46,28/11/2017 14:46,PENDING
11891,"139,023","249,722",1100905088,29/12/2017 22:08,29/12/2017 22:08,PENDING
11892,"139,882","252,942",1100907622,2/1/2018 22:44,2/1/2018 22:44,PENDING
11897,"87,341","151,162",1100862031,20/7/2017 5:17,20/7/2017 5:17,PENDING
11900,"88,981","153,508",1100865593,2/8/2017 11:59,2/8/2017 11:59,PENDING
11903,"89,781","154,526",1100866917,8/8/2017 12:51,8/8/2017 12:51,PENDING
11906,"90,701","21,568",1100725301,13/8/2017 20:28,13/8/2017 20:28,PENDING
11907,"91,281","156,882",1100869016,18/8/2017 7:45,18/8/2017 7:45,PENDING
11908,"91,283","75,508",1100869178,18/8/2017 8:32,18/8/2017 8:32,PENDING
11911,"94,001","162,684",1100559825,31/8/2017 8:01,31/8/2017 8:01,PENDING
11914,"99,301","168,362",1100874536,20/9/2017 14:25,20/9/2017 14:25,PENDING
11915,"99,361","175,682",1100876924,20/9/2017 16:18,20/9/2017 16:18,PENDING
11916,"99,403","169,922",1100877003,20/9/2017 20:28,20/9/2017 20:28,PENDING
11918,"100,361","175,782",1100876948,23/9/2017 18:33,23/9/2017 18:33,PENDING
11919,"100,381","176,502",1100874243,23/9/2017 19:07,23/9/2017 19:07,PENDING
11920,"101,961","166,122",1100864344,28/9/2017 10:28,28/9/2017 10:28,PENDING
11921,"103,761","2,082",1100500779,3/10/2017 14:53,3/10/2017 14:53,PENDING
11923,"105,821","188,883",1100881820,10/10/2017 19:17,10/10/2017 19:17,PENDING
11928,"108,941","197,902",1100884598,21/10/2017 11:42,21/10/2017 11:42,PENDING
11929,"109,282","199,222",1100885270,22/10/2017 22:09,22/10/2017 22:09,PENDING
11930,"109,982","2,082",1100500779,25/10/2017 16:57,25/10/2017 16:57,PENDING
11931,"112,081","205,142",1100887427,1/11/2017 15:58,1/11/2017 15:58,PENDING
11932,"112,401","206,362",1100887613,2/11/2017 12:18,2/11/2017 12:18,PENDING
11933,"113,741","209,022",1100888598,6/11/2017 14:14,6/11/2017 14:14,PENDING
11936,"116,205","176,764",1100787082,11/11/2017 8:26,11/11/2017 8:26,PENDING
11941,"118,561","169,883",1100861848,11/11/2017 23:47,11/11/2017 23:47,PENDING
11943,"120,061","218,702",1100890996,14/11/2017 20:50,14/11/2017 20:50,PENDING
11944,"121,121","219,903",1100891668,18/11/2017 10:05,18/11/2017 10:05,PENDING
11947,"123,641","227,722",1100893862,23/11/2017 22:12,23/11/2017 22:12,PENDING
11951,"125,421","143,345",1100855052,29/11/2017 18:58,29/11/2017 18:58,PENDING

รายการสั่งซื้อที่ยกเลิก (Cancel)

In [217]:
order = read_csv('../data_20180120/order.csv')

df_order = pd.DataFrame(order)

data_cancel = df_order[df_order['STATUS'] == "CANCEL"]

data_cancel

,ORDER_ID,CUSTOMER_ID,BPCODE,CREATE_DATE,UPDATE_DATE,STATUS
33,"5,341","13,842",1100712196,25/11/2015 11:31,20/6/2017 10:54,CANCEL
34,"5,342","13,842",1100712196,25/11/2015 11:31,20/6/2017 10:54,CANCEL
38,"5,561","13,842",1100712196,29/11/2015 12:56,20/6/2017 10:55,CANCEL
427,"9,441","13,842",1100712196,1/1/2016 20:05,20/6/2017 10:55,CANCEL
429,"9,481","13,842",1100712196,2/1/2016 12:00,20/6/2017 10:55,CANCEL
438,"10,642","13,842",1100712196,13/1/2016 9:53,20/6/2017 10:54,CANCEL
442,"11,161","13,842",1100712196,17/1/2016 12:06,20/6/2017 10:54,CANCEL
474,"9,001","13,842",1100712196,30/12/2015 13:40,20/6/2017 10:56,CANCEL
530,"7,981","11,294",1100385214,24/12/2015 1:29,21/10/2017 15:23,CANCEL
741,"9,161","21,245",1100715726,30/12/2015 22:52,28/9/2017 14:22,CANCEL
748,"10,361","13,842",1100712196,11/1/2016 16:50,20/6/2017 10:55,CANCEL
1079,"14,903","29,644",1100735017,14/2/2016 14:43,10/11/2017 23:38,CANCEL
1211,"13,881","28,702",1100732913,5/2/2016 13:50,19/8/2017 7:15,CANCEL
1341,"19,301","36,842",1100747096,5/4/2016 6:41,2/12/2017 21:52,CANCEL
1498,"21,106","8,885",1100671948,19/4/2016 14:03,3/12/2017 11:24,CANCEL
1499,"21,107","8,885",1100671948,19/4/2016 14:25,3/12/2017 11:22,CANCEL
1685,"19,281","36,842",1100747096,5/4/2016 1:18,2/12/2017 21:54,CANCEL
1687,"19,401","31,213",1100584027,6/4/2016 11:22,28/6/2017 19:07,CANCEL
1747,"24,801","45,562",1100758999,23/5/2016 15:19,9/6/2017 11:25,CANCEL
1778,"21,103","8,885",1100671948,19/4/2016 13:49,3/12/2017 11:24,CANCEL
1845,"21,105","8,885",1100671948,19/4/2016 14:00,3/12/2017 11:24,CANCEL
1910,"27,284","46,388",1100656747,11/6/2016 14:24,31/5/2017 21:12,CANCEL
1911,"27,285","46,388",1100656747,11/6/2016 14:54,31/5/2017 21:12,CANCEL
1912,"27,288","46,388",1100656747,11/6/2016 15:05,31/5/2017 21:12,CANCEL
1976,"27,281","46,388",1100656747,11/6/2016 13:49,31/5/2017 21:11,CANCEL
2027,"25,981","46,388",1100656747,3/6/2016 8:54,31/5/2017 21:11,CANCEL
2063,"28,281","25,503",1100526827,19/6/2016 7:35,1/6/2017 0:33,CANCEL
2163,"26,782","46,709",1100629436,8/6/2016 14:19,22/5/2017 10:24,CANCEL
2171,"27,282","46,388",1100656747,11/6/2016 14:04,31/5/2017 21:12,CANCEL
2172,"27,283","46,388",1100656747,11/6/2016 14:06,31/5/2017 21:12,CANCEL
...,...,...,...,...,...,...
11786,"101,022","169,603",1100878351,25/9/2017 20:57,20/11/2017 11:37,CANCEL
11787,"101,023","169,603",1100878351,25/9/2017 20:57,20/11/2017 11:37,CANCEL
11788,"102,241","180,742",1100878916,29/9/2017 0:20,29/9/2017 0:25,CANCEL
11799,"115,821","168,022",1100874239,11/11/2017 0:04,11/11/2017 0:12,CANCEL
11800,"115,822","213,344",1100889415,11/11/2017 0:04,11/11/2017 0:16,CANCEL
11809,"117,243","214,742",1100886794,11/11/2017 16:24,11/11/2017 16:26,CANCEL
11812,"117,501","146,602",1100858658,11/11/2017 17:50,16/11/2017 20:57,CANCEL
11819,"138,522","47,002",1100905651,28/12/2017 22:21,28/12/2017 22:32,CANCEL
11820,"138,921","231,763",1100875483,29/12/2017 20:43,30/12/2017 6:46,CANCEL
11823,"140,001","46,486",1100907630,3/1/2018 11:45,3/1/2018 12:42,CANCEL
11824,"141,341","255,122",1100908872,7/1/2018 20:57,7/1/2018 20:55,CANCEL
11825,"141,342","255,122",1100908872,7/1/2018 20:57,7/1/2018 20:55,CANCEL
11826,"83,141","143,605",1100855348,23/6/2017 15:40,23/6/2017 15:41,CANCEL
11830,"83,741","144,522",1100856638,27/6/2017 11:56,27/6/2017 11:56,CANCEL
11831,"84,004","139,643",1100854815,28/6/2017 22:19,28/6/2017 22:24,CANCEL
11832,"84,270","140,382",1100853390,30/6/2017 14:07,13/11/2017 17:55,CANCEL
11834,"84,661","146,062",1100858410,3/7/2017 11:40,3/7/2017 11:42,CANCEL
11857,"95,561","63,042",1100779786,7/9/2017 20:18,7/9/2017 20:19,CANCEL
11860,"97,021","169,982",1100875140,12/9/2017 1:15,12/9/2017 1:16,CANCEL
11868,"106,201","170,623",1100875285,11/10/2017 0:57,11/10/2017 1:00,CANCEL
11876,"116,921","204,802",1100887269,11/11/2017 14:37,11/11/2017 14:42,CANCEL
11878,"117,384","214,722",1100804833,11/11/2017 17:06,11/11/2017 17:15,CANCEL
11893,"83,182","131,982",1100851287,24/6/2017 0:49,24/6/2017 0:58,CANCEL
11901,"89,302","153,946",1100866064,5/8/2017 0:09,24/8/2017 22:15,CANCEL
11913,"95,041","165,382",1100873576,5/9/2017 0:53,5/9/2017 0:55,CANCEL
11935,"116,061","152,723",1100889427,11/11/2017 6:27,11/11/2017 6:27,CANCEL
11937,"116,941","204,802",1100887269,11/11/2017 14:37,11/11/2017 14:42,CANCEL
11939,"118,168","214,662",1100889695,11/11/2017 21:52,11/11/2017 21:54,CANCEL
11940,"118,362","215,004",1100889844,11/11/2017 23:02,11/11/2017 23:03,CANCEL
11949,"124,681","41,753",1100752924,28/11/2017 14:10,28/11/2017 14:45,CANCEL

สินค้าในคำสั่งซื้อ (order_item)

In [218]:
order_item = read_csv('../data_20180120/order_item.csv')

df_order_item = pd.DataFrame(order_item)

data_order_item = df_order_item

data_order_item

      ORDER_ID ORDER_ITEM_ID     MATNR QUANTITY TOTAL_PRICE
0        2,024         2,024  19106665        1       2,700
1        2,024         2,025  19049635        1      36,900
2        2,241         2,221  19086648        1       6,900
3        2,321         2,281  19110489        1       7,900
4        2,341         2,301  19086648        1       6,900
5        2,341         2,302  19086655        1       3,490
6        2,422         2,382  19104920        1       6,900
7        2,442         2,403  19062438        1      18,500
8        2,481         2,421  19110830        1       9,900
9        2,561         2,483  19077657        1      22,400
10       2,561         2,484  19077658        1       6,900
11       2,641         2,561  19096159        1      11,500
12       2,682         2,602  19111249        1      27,900
13       2,781         2,701  19047937        1       3,640
14       2,781         2,702  19047936        1       1,050
15       2,781         2,703  59008843        1      19,900
16       3,121         3,041  19090826        1       5,460
17       3,202         3,122  19090399        1       1,750
18       3,202         3,123  19038032        1       2,900
19       3,202         3,124  19111271        1       4,830
20       3,261         3,181  59004665        1       9,900
21       3,262         3,182  19077852        1       3,300
22       3,341         3,261  59008061        1      15,500
23       3,403         3,325  19112683        1      30,900
24       3,461         3,381  19110751        1       6,930
25       3,681         3,601  59008485        1      19,900
26       3,781         3,701  19112398        1       3,150
27       3,962         3,863  19077060        1       3,900
28       4,001         3,901  59001239        1      43,900
29       4,021         3,921  19111271        1       4,830
...        ...           ...       ...      ...         ...
17418  139,864       132,881  19112864        1       7,700
17419  139,861       132,882  19112865        1       6,440
17420  140,341       133,321  19138261        1      12,900
17421  140,381       133,361  19015491        1       7,650
17422  140,401       133,381  19078065        1      14,300
17423  140,401       133,382  19088112        2      35,800
17424  140,482       133,462  19097478        1      25,400
17425  140,681       133,641  19096338        1       5,900
17426  140,723       133,683  19090443        1       6,900
17427  140,761       133,721  19088646        1      22,900
17428  141,302       134,261  19111070        1      28,800
17429  141,301       134,262  59010147        2      39,320
17430  141,402       134,362  19109485        1       4,200
17431  141,481       134,441  19035150        1       2,200
17432  141,541       134,501  19070034        1       1,470
17433  141,541       134,502  19109909        1       7,990
17434  141,541       134,503  19091950        2       3,150
17435  141,742       134,682  19090819        1       1,750
17436  142,001       134,941  19087090        1       2,990
17437  142,181       135,121  39001981        1       9,900
17438  142,461       135,401  59010069        1      19,900
17439  142,481       135,421  19127609        1       2,310
17440  142,481       135,422  19045730        1       5,320
17441  142,981       135,881  19114660        2       1,800
17442  143,201       136,101  19071522        1       2,380
17443  143,221       136,121  19096167        1       7,920
17444  143,282       136,183  19090819        1       1,750
17445  143,282       136,184  19122686        1       5,250
17446  143,282       136,185  19096168        1       8,580
17447  143,283       136,186  19041344        1       2,590

[17448 rows x 5 columns]

Left join order_success + order_item

In [219]:
left = data_success

right = data_order_item

data_success_item = pd.merge(left, right, on='ORDER_ID')

data_success_item

,ORDER_ID,CUSTOMER_ID,BPCODE,CREATE_DATE,UPDATE_DATE,STATUS,ORDER_ITEM_ID,MATNR,QUANTITY,TOTAL_PRICE
0,"2,321","4,223",1100702550,16/10/2015 15:36,16/10/2015 15:42,PAID_SUCCESS,"2,281",19110489,1,"7,900"
1,"2,481","2,509",1100605014,18/10/2015 20:50,18/10/2015 20:58,PAID_SUCCESS,"2,421",19110830,1,"9,900"
2,"2,781","5,445",1100703863,26/10/2015 11:22,26/10/2015 11:25,PAID_SUCCESS,"2,701",19047937,1,"3,640"
3,"2,781","5,445",1100703863,26/10/2015 11:22,26/10/2015 11:25,PAID_SUCCESS,"2,702",19047936,1,"1,050"
4,"2,781","5,445",1100703863,26/10/2015 11:22,26/10/2015 11:25,PAID_SUCCESS,"2,703",59008843,1,"19,900"
5,"3,202","8,263",1100561933,1/11/2015 16:44,1/11/2015 16:46,PAID_SUCCESS,"3,122",19090399,1,"1,750"
6,"3,202","8,263",1100561933,1/11/2015 16:44,1/11/2015 16:46,PAID_SUCCESS,"3,123",19038032,1,"2,900"
7,"3,202","8,263",1100561933,1/11/2015 16:44,1/11/2015 16:46,PAID_SUCCESS,"3,124",19111271,1,"4,830"
8,"3,962","10,702",1100708595,11/11/2015 10:22,11/11/2015 10:33,PAID_SUCCESS,"3,863",19077060,1,"3,900"
9,"4,001","10,722",1100708626,11/11/2015 13:44,12/11/2015 13:53,PAID_SUCCESS,"3,901",59001239,1,"43,900"
10,"4,461","11,804",1100655391,16/11/2015 18:46,16/11/2015 18:52,PAID_SUCCESS,"4,301",19111578,1,"9,900"
11,"4,701","12,142",1100710303,18/11/2015 10:41,19/11/2015 13:49,PAID_SUCCESS,"4,541",19047931,1,"5,530"
12,"4,701","12,142",1100710303,18/11/2015 10:41,19/11/2015 13:49,PAID_SUCCESS,"4,542",19089735,1,"6,900"
13,"4,941","12,863",1100710868,21/11/2015 8:39,21/11/2015 8:42,PAID_SUCCESS,"4,761",19078049,1,"26,600"
14,"5,241","13,464",1100711990,24/11/2015 6:40,24/11/2015 7:03,PAID_SUCCESS,"5,041",59010064,1,"4,900"
15,"5,241","13,464",1100711990,24/11/2015 6:40,24/11/2015 7:03,PAID_SUCCESS,"5,042",59003359,1,"15,500"
16,"5,343","13,830",1100712197,25/11/2015 11:42,25/11/2015 11:45,PAID_SUCCESS,"5,144",19089735,2,"13,800"
17,"5,441","3,124",1100704391,27/11/2015 6:22,27/11/2015 6:27,PAID_SUCCESS,"5,261",19111293,1,"2,800"
18,"5,441","3,124",1100704391,27/11/2015 6:22,27/11/2015 6:27,PAID_SUCCESS,"5,262",19110767,1,"5,600"
19,"5,724","14,837",1100707138,1/12/2015 10:29,1/12/2015 10:30,PAID_SUCCESS,"5,526",19071522,1,"2,380"
20,"5,724","14,837",1100707138,1/12/2015 10:29,1/12/2015 10:30,PAID_SUCCESS,"5,527",19070036,2,"2,940"
21,"5,741","15,006",1100713925,1/12/2015 11:30,1/12/2015 19:05,PAID_SUCCESS,"5,530",59008209,1,"39,900"
22,"5,742","15,012",1100713938,1/12/2015 11:45,1/12/2015 11:47,PAID_SUCCESS,"5,531",19110489,1,"7,900"
23,"5,822","15,006",1100713925,1/12/2015 18:16,1/12/2015 19:40,PAID_SUCCESS,"5,581",19089069,1,"29,900"
24,"5,841","15,082",1100714080,1/12/2015 20:25,1/12/2015 20:31,PAID_SUCCESS,"5,601",19096195,1,"16,400"
25,"5,961","15,037",1100714092,2/12/2015 13:21,2/12/2015 13:32,PAID_SUCCESS,"5,704",19094073,1,"12,900"
26,"6,041","15,309",1100714293,3/12/2015 11:38,3/12/2015 11:40,PAID_SUCCESS,"5,781",19096177,1,"8,190"
27,"6,361","16,222",1100715592,7/12/2015 14:59,7/12/2015 15:09,PAID_SUCCESS,"6,081",19090822,1,"6,930"
28,"6,482","16,367",1100715869,8/12/2015 13:10,8/12/2015 13:15,PAID_SUCCESS,"6,203",19077278,1,"3,990"
29,"6,482","16,367",1100715869,8/12/2015 13:10,8/12/2015 13:15,PAID_SUCCESS,"6,204",19077274,1,"2,990"
...,...,...,...,...,...,...,...,...,...,...
6637,"99,441","176,002",1100877015,20/9/2017 21:55,20/9/2017 22:00,PAID_SUCCESS,"92,942",19096168,1,"8,580"
6638,"99,441","176,002",1100877015,20/9/2017 21:55,20/9/2017 22:00,PAID_SUCCESS,"92,943",19086656,1,"4,590"
6639,"99,441","176,002",1100877015,20/9/2017 21:55,20/9/2017 22:00,PAID_SUCCESS,"92,944",19111578,1,"9,900"
6640,"99,441","176,002",1100877015,20/9/2017 21:55,20/9/2017 22:00,PAID_SUCCESS,"92,945",19086639,2,"3,500"
6641,"99,441","176,002",1100877015,20/9/2017 21:55,20/9/2017 22:00,PAID_SUCCESS,"92,946",59011625,1,"9,590"
6642,"99,441","176,002",1100877015,20/9/2017 21:55,20/9/2017 22:00,PAID_SUCCESS,"92,947",19047099,1,"4,050"
6643,"105,341","136,982",1100852919,9/10/2017 20:05,9/10/2017 20:18,PAID_SUCCESS,"98,761",19090397,1,"8,050"
6644,"105,341","136,982",1100852919,9/10/2017 20:05,9/10/2017 20:18,PAID_SUCCESS,"98,762",59014281,1,"6,250"
6645,"105,341","136,982",1100852919,9/10/2017 20:05,9/10/2017 20:18,PAID_SUCCESS,"98,763",19124184,1,"9,900"
6646,"105,842","184,782",1100881270,10/10/2017 20:00,10/10/2017 23:33,PAID_SUCCESS,"99,243",19097934,2,"4,400"
6647,"105,842","184,782",1100881270,10/10/2017 20:00,10/10/2017 23:33,PAID_SUCCESS,"99,244",19005144,1,"2,800"
6648,"105,842","184,782",1100881270,10/10/2017 20:00,10/10/2017 23:33,PAID_SUCCESS,"99,245",19112397,1,"3,150"
6649,"105,842","184,782",1100881270,10/10/2017 20:00,10/10/2017 23:33,PAID_SUCCESS,"99,246",19031690,1,"1,360"
6650,"105,901","27,468",1100731690,10/10/2017 21:03,10/10/2017 21:21,PAID_SUCCESS,"99,301",19077089,1,"3,990"
6651,"105,901","27,468",1100731690,10/10/2017 21:03,10/10/2017 21:21,PAID_SUCCESS,"99,302",19100903,2,"2,040"
6652,"108,861","195,142",1100883956,21/10/2017 2:12,21/10/2017 10:53,PAID_SUCCESS,"102,241",19078392,1,"1,470"
6653,"108,861","195,142",1100883956,21/10/2017 2:12,21/10/2017 10:53,PAID_SUCCESS,"102,242",19045731,1,"2,660"
6654,"108,861","195,142",1100883956,21/10/2017 2:12,21/10/2017 10:53,PAID_SUCCESS,"102,243",19076887,1,"1,610"
6655,"108,861","195,142",1100883956,21/10/2017 2:12,21/10/2017 10:53,PAID_SUCCESS,"102,244",19045730,1,"5,320"
6656,"108,882","121,343",1100559973,21/10/2017 8:46,21/10/2017 8:53,PAID_SUCCESS,"102,263",19128104,1,"15,900"
6657,"115,701","212,963",1100889388,10/11/2017 20:07,11/11/2017 6:37,PAID_SUCCESS,"108,961",19120064,1,"9,900"
6658,"118,164","215,483",1100889933,11/11/2017 21:49,11/11/2017 22:00,PAID_SUCCESS,"111,364",19125082,1,"23,900"
6659,"119,321","217,362",1100890624,13/11/2017 14:15,13/11/2017 14:40,PAID_SUCCESS,"112,501",19126023,1,"9,900"
6660,"123,061","226,222",1100893313,22/11/2017 10:27,22/11/2017 10:40,PAID_SUCCESS,"116,241",19122685,1,"3,990"
6661,"123,441","227,282",1100893638,23/11/2017 13:07,23/11/2017 13:19,PAID_SUCCESS,"116,621",59010885,1,"14,900"
6662,"123,901","76,584",1100894599,25/11/2017 20:29,25/11/2017 22:15,PAID_SUCCESS,"117,081",19086664,1,"12,900"
6663,"123,901","76,584",1100894599,25/11/2017 20:29,25/11/2017 22:15,PAID_SUCCESS,"117,082",19124225,1,"4,500"
6664,"125,341","231,882",1100895816,29/11/2017 14:32,29/11/2017 14:41,PAID_SUCCESS,"118,521",19136319,1,"7,900"
6665,"125,341","231,882",1100895816,29/11/2017 14:32,29/11/2017 14:41,PAID_SUCCESS,"118,522",19096162,1,"7,540"
6666,"125,944","203,942",1100887409,1/12/2017 0:02,1/12/2017 0:01,PAID_SUCCESS,"119,085",19101658,1,"4,490"