In [1]:
import unicodecsv

#read data from CSV file and make it to lists
def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)

In [2]:
order = read_csv('../data_20180120/order.csv')

# เลขที่คำสั่งซื้อ (Order_ID)

In [3]:
import pandas as pd

pd.DataFrame(order)

,ORDER_ID,CUSTOMER_ID,BPCODE,CREATE_DATE,UPDATE_DATE,STATUS
0,"2,024",22,1100700373,5/10/2015 21:05,5/10/2015 21:05,PENDING
1,"2,241","4,122",1100702444,15/10/2015 18:51,15/10/2015 19:03,PENDING
2,"2,321","4,223",1100702550,16/10/2015 15:36,16/10/2015 15:42,PAID_SUCCESS
3,"2,341","4,122",1100702444,16/10/2015 23:45,16/10/2015 23:54,PENDING
4,"2,422","4,527",1100702884,17/10/2015 18:35,17/10/2015 18:45,PENDING
5,"2,442","4,462",1100702709,18/10/2015 15:41,18/10/2015 15:50,PENDING
6,"2,481","2,509",1100605014,18/10/2015 20:50,18/10/2015 20:58,PAID_SUCCESS
7,"2,561","2,784",1100686150,20/10/2015 13:37,20/10/2015 13:45,PENDING
8,"2,641","5,509",1100703880,22/10/2015 13:34,22/10/2015 13:44,PENDING
9,"2,682","5,805",1100704086,23/10/2015 13:38,23/10/2015 13:38,PENDING
10,"2,781","5,445",1100703863,26/10/2015 11:22,26/10/2015 11:25,PAID_SUCCESS
11,"3,121","8,064",1100662011,31/10/2015 16:47,31/10/2015 16:47,PENDING
12,"3,202","8,263",1100561933,1/11/2015 16:44,1/11/2015 16:46,PAID_SUCCESS
13,"3,261","8,525",1100704444,2/11/2015 16:43,2/11/2015 16:50,PENDING
14,"3,262","8,529",1100706894,2/11/2015 16:52,2/11/2015 16:52,PENDING
15,"3,341","8,724",1100707006,3/11/2015 16:47,3/11/2015 16:55,PENDING
16,"3,403","2,429",1100697318,4/11/2015 14:44,4/11/2015 14:55,PENDING
17,"3,461","9,104",1100707277,5/11/2015 23:49,5/11/2015 23:49,PENDING
18,"3,681","4,802",1100707987,8/11/2015 14:23,8/11/2015 14:31,PENDING
19,"3,781","10,366",1100708439,9/11/2015 20:58,9/11/2015 20:58,PENDING
20,"3,962","10,702",1100708595,11/11/2015 10:22,11/11/2015 10:33,PAID_SUCCESS
21,"4,001","10,722",1100708626,11/11/2015 13:44,12/11/2015 13:53,PAID_SUCCESS
22,"4,021","10,782",1100708678,11/11/2015 16:00,11/11/2015 16:06,PENDING
23,"4,101","10,955",1100708795,12/11/2015 10:11,12/11/2015 10:27,PENDING_TMN_CREATED
24,"4,121","11,062",1100708914,12/11/2015 18:46,12/11/2015 18:46,PENDING_TMN_CREATED
25,"4,221","11,162",1100708972,14/11/2015 0:16,14/11/2015 0:18,PENDING_TMN_CREATED
26,"4,461","11,804",1100655391,16/11/2015 18:46,16/11/2015 18:52,PAID_SUCCESS
27,"4,621","12,070",1100710283,17/11/2015 20:58,17/11/2015 21:11,PENDING_TMN_CREATED
28,"4,701","12,142",1100710303,18/11/2015 10:41,19/11/2015 13:49,PAID_SUCCESS
29,"4,941","12,863",1100710868,21/11/2015 8:39,21/11/2015 8:42,PAID_SUCCESS
...,...,...,...,...,...,...
11923,"105,821","188,883",1100881820,10/10/2017 19:17,10/10/2017 19:17,PENDING
11924,"105,842","184,782",1100881270,10/10/2017 20:00,10/10/2017 23:33,PAID_SUCCESS
11925,"105,901","27,468",1100731690,10/10/2017 21:03,10/10/2017 21:21,PAID_SUCCESS
11926,"108,861","195,142",1100883956,21/10/2017 2:12,21/10/2017 10:53,PAID_SUCCESS
11927,"108,882","121,343",1100559973,21/10/2017 8:46,21/10/2017 8:53,PAID_SUCCESS
11928,"108,941","197,902",1100884598,21/10/2017 11:42,21/10/2017 11:42,PENDING
11929,"109,282","199,222",1100885270,22/10/2017 22:09,22/10/2017 22:09,PENDING
11930,"109,982","2,082",1100500779,25/10/2017 16:57,25/10/2017 16:57,PENDING
11931,"112,081","205,142",1100887427,1/11/2017 15:58,1/11/2017 15:58,PENDING
11932,"112,401","206,362",1100887613,2/11/2017 12:18,2/11/2017 12:18,PENDING
11933,"113,741","209,022",1100888598,6/11/2017 14:14,6/11/2017 14:14,PENDING
11934,"115,701","212,963",1100889388,10/11/2017 20:07,11/11/2017 6:37,PAID_SUCCESS
11935,"116,061","152,723",1100889427,11/11/2017 6:27,11/11/2017 6:27,CANCEL
11936,"116,205","176,764",1100787082,11/11/2017 8:26,11/11/2017 8:26,PENDING
11937,"116,941","204,802",1100887269,11/11/2017 14:37,11/11/2017 14:42,CANCEL
11938,"118,164","215,483",1100889933,11/11/2017 21:49,11/11/2017 22:00,PAID_SUCCESS
11939,"118,168","214,662",1100889695,11/11/2017 21:52,11/11/2017 21:54,CANCEL
11940,"118,362","215,004",1100889844,11/11/2017 23:02,11/11/2017 23:03,CANCEL
11941,"118,561","169,883",1100861848,11/11/2017 23:47,11/11/2017 23:47,PENDING
11942,"119,321","217,362",1100890624,13/11/2017 14:15,13/11/2017 14:40,PAID_SUCCESS
11943,"120,061","218,702",1100890996,14/11/2017 20:50,14/11/2017 20:50,PENDING
11944,"121,121","219,903",1100891668,18/11/2017 10:05,18/11/2017 10:05,PENDING
11945,"123,061","226,222",1100893313,22/11/2017 10:27,22/11/2017 10:40,PAID_SUCCESS
11946,"123,441","227,282",1100893638,23/11/2017 13:07,23/11/2017 13:19,PAID_SUCCESS
11947,"123,641","227,722",1100893862,23/11/2017 22:12,23/11/2017 22:12,PENDING
11948,"123,901","76,584",1100894599,25/11/2017 20:29,25/11/2017 22:15,PAID_SUCCESS
11949,"124,681","41,753",1100752924,28/11/2017 14:10,28/11/2017 14:45,CANCEL
11950,"125,341","231,882",1100895816,29/11/2017 14:32,29/11/2017 14:41,PAID_SUCCESS
11951,"125,421","143,345",1100855052,29/11/2017 18:58,29/11/2017 18:58,PENDING
11952,"125,944","203,942",1100887409,1/12/2017 0:02,1/12/2017 0:01,PAID_SUCCESS

# รายการสั่งซื้อที่มีการชำระราคาเสร็จสิ้น (Paid_Success)

In [4]:
order = read_csv('../data_20180120/order.csv')

df_order = pd.DataFrame(order)

order_success = df_order[df_order['STATUS'] == "PAID_SUCCESS"]

import locale
locale.setlocale(locale.LC_ALL, '') 

old_order_success = order_success[:]
old_order_success['ORDER_ID'] = order_success['ORDER_ID'].apply(locale.atoi)
old_order_success['CUSTOMER_ID'] = order_success['CUSTOMER_ID'].apply(locale.atoi)
old_order_success['BPCODE'] = order_success['BPCODE'].apply(locale.atoi)
old_order_success['CREATE_DATE'] = pd.to_datetime(order_success['CREATE_DATE'])
old_order_success['UPDATE_DATE'] = pd.to_datetime(order_success['UPDATE_DATE'])

old_order_success

,ORDER_ID,CUSTOMER_ID,BPCODE,CREATE_DATE,UPDATE_DATE,STATUS
2,2321,4223,1100702550,2015-10-16 15:36:00,2015-10-16 15:42:00,PAID_SUCCESS
6,2481,2509,1100605014,2015-10-18 20:50:00,2015-10-18 20:58:00,PAID_SUCCESS
10,2781,5445,1100703863,2015-10-26 11:22:00,2015-10-26 11:25:00,PAID_SUCCESS
12,3202,8263,1100561933,2015-01-11 16:44:00,2015-01-11 16:46:00,PAID_SUCCESS
20,3962,10702,1100708595,2015-11-11 10:22:00,2015-11-11 10:33:00,PAID_SUCCESS
21,4001,10722,1100708626,2015-11-11 13:44:00,2015-12-11 13:53:00,PAID_SUCCESS
26,4461,11804,1100655391,2015-11-16 18:46:00,2015-11-16 18:52:00,PAID_SUCCESS
28,4701,12142,1100710303,2015-11-18 10:41:00,2015-11-19 13:49:00,PAID_SUCCESS
29,4941,12863,1100710868,2015-11-21 08:39:00,2015-11-21 08:42:00,PAID_SUCCESS
32,5241,13464,1100711990,2015-11-24 06:40:00,2015-11-24 07:03:00,PAID_SUCCESS
35,5343,13830,1100712197,2015-11-25 11:42:00,2015-11-25 11:45:00,PAID_SUCCESS
37,5441,3124,1100704391,2015-11-27 06:22:00,2015-11-27 06:27:00,PAID_SUCCESS
39,5724,14837,1100707138,2015-01-12 10:29:00,2015-01-12 10:30:00,PAID_SUCCESS
40,5741,15006,1100713925,2015-01-12 11:30:00,2015-01-12 19:05:00,PAID_SUCCESS
41,5742,15012,1100713938,2015-01-12 11:45:00,2015-01-12 11:47:00,PAID_SUCCESS
43,5822,15006,1100713925,2015-01-12 18:16:00,2015-01-12 19:40:00,PAID_SUCCESS
44,5841,15082,1100714080,2015-01-12 20:25:00,2015-01-12 20:31:00,PAID_SUCCESS
47,5961,15037,1100714092,2015-02-12 13:21:00,2015-02-12 13:32:00,PAID_SUCCESS
51,6041,15309,1100714293,2015-03-12 11:38:00,2015-03-12 11:40:00,PAID_SUCCESS
57,6361,16222,1100715592,2015-07-12 14:59:00,2015-07-12 15:09:00,PAID_SUCCESS
59,6482,16367,1100715869,2015-08-12 13:10:00,2015-08-12 13:15:00,PAID_SUCCESS
65,2121,21,1100658148,2015-10-15 11:49:00,2015-10-15 11:51:00,PAID_SUCCESS
66,2122,21,1100658148,2015-10-15 11:58:00,2015-10-15 12:00:00,PAID_SUCCESS
72,2462,4725,1100652466,2015-10-18 16:26:00,2015-10-18 16:35:00,PAID_SUCCESS
74,2661,5547,1100643684,2015-10-22 14:46:00,2015-10-22 14:58:00,PAID_SUCCESS
82,3281,8722,1100707010,2015-03-11 14:26:00,2015-03-11 14:54:00,PAID_SUCCESS
84,3522,9362,1100671979,2015-06-11 12:30:00,2015-06-11 12:31:00,PAID_SUCCESS
99,4381,11727,1100709922,2015-11-16 11:43:00,2015-11-16 11:55:00,PAID_SUCCESS
100,4401,5066,1100689191,2015-11-16 13:05:00,2015-11-16 13:06:00,PAID_SUCCESS
103,4601,12063,1100710251,2015-11-17 19:49:00,2015-11-17 19:53:00,PAID_SUCCESS
...,...,...,...,...,...,...
11874,112761,203462,1100886811,2017-03-11 14:04:00,2017-03-11 23:45:00,PAID_SUCCESS
11881,122122,224182,1100892779,2017-11-20 13:21:00,2017-11-20 13:28:00,PAID_SUCCESS
11882,122221,222422,1100496090,2017-11-20 15:00:00,2017-11-20 15:04:00,PAID_SUCCESS
11883,122222,222422,1100496090,2017-11-20 15:00:00,2017-11-20 15:08:00,PAID_SUCCESS
11889,123781,228582,1100894128,2017-11-25 07:51:00,2017-11-25 08:00:00,PAID_SUCCESS
11894,83183,143944,1100855468,2017-06-24 01:08:00,2017-06-24 01:23:00,PAID_SUCCESS
11895,83322,134645,1100847847,2017-06-24 20:44:00,2017-06-24 20:53:00,PAID_SUCCESS
11896,84761,140503,1100858555,2017-03-07 21:16:00,2017-03-07 21:21:00,PAID_SUCCESS
11898,87361,151007,1100861908,2017-07-20 08:46:00,2017-07-20 08:57:00,PAID_SUCCESS
11899,87781,121443,1100836463,2017-07-23 18:45:00,2017-07-23 18:48:00,PAID_SUCCESS
11902,89742,97822,1100815868,2017-07-08 22:16:00,2017-07-08 22:19:00,PAID_SUCCESS
11904,90001,154623,1100459139,2017-09-08 13:27:00,2017-09-08 13:30:00,PAID_SUCCESS
11905,90061,154771,1100867134,2017-09-08 16:23:00,2017-09-08 16:39:00,PAID_SUCCESS
11909,91881,158724,1100870175,2017-08-22 10:50:00,2017-08-22 11:23:00,PAID_SUCCESS
11910,93121,160502,1100871621,2017-08-28 21:38:00,2017-08-28 21:44:00,PAID_SUCCESS
11912,94043,162362,1100711557,2017-08-31 10:46:00,2017-08-31 10:51:00,PAID_SUCCESS
11917,99441,176002,1100877015,2017-09-20 21:55:00,2017-09-20 22:00:00,PAID_SUCCESS
11922,105341,136982,1100852919,2017-09-10 20:05:00,2017-09-10 20:18:00,PAID_SUCCESS
11924,105842,184782,1100881270,2017-10-10 20:00:00,2017-10-10 23:33:00,PAID_SUCCESS
11925,105901,27468,1100731690,2017-10-10 21:03:00,2017-10-10 21:21:00,PAID_SUCCESS
11926,108861,195142,1100883956,2017-10-21 02:12:00,2017-10-21 10:53:00,PAID_SUCCESS
11927,108882,121343,1100559973,2017-10-21 08:46:00,2017-10-21 08:53:00,PAID_SUCCESS
11934,115701,212963,1100889388,2017-10-11 20:07:00,2017-11-11 06:37:00,PAID_SUCCESS
11938,118164,215483,1100889933,2017-11-11 21:49:00,2017-11-11 22:00:00,PAID_SUCCESS
11942,119321,217362,1100890624,2017-11-13 14:15:00,2017-11-13 14:40:00,PAID_SUCCESS
11945,123061,226222,1100893313,2017-11-22 10:27:00,2017-11-22 10:40:00,PAID_SUCCESS
11946,123441,227282,1100893638,2017-11-23 13:07:00,2017-11-23 13:19:00,PAID_SUCCESS
11948,123901,76584,1100894599,2017-11-25 20:29:00,2017-11-25 22:15:00,PAID_SUCCESS
11950,125341,231882,1100895816,2017-11-29 14:32:00,2017-11-29 14:41:00,PAID_SUCCESS
11952,125944,203942,1100887409,2017-01-12 00:02:00,2017-01-12 00:01:00,PAID_SUCCESS

# Check

In [5]:
time_diff = (old_order_success['UPDATE_DATE']- old_order_success['CREATE_DATE']).astype('timedelta64[m]')
time_diff
df_time_diff=pd.DataFrame(time_diff, columns=['diff_time'])
join_diff = pd.concat([old_order_success, df_time_diff], axis=1, join='inner')
join_diff

,ORDER_ID,CUSTOMER_ID,BPCODE,CREATE_DATE,UPDATE_DATE,STATUS,diff_time
2,2321,4223,1100702550,2015-10-16 15:36:00,2015-10-16 15:42:00,PAID_SUCCESS,6.0
6,2481,2509,1100605014,2015-10-18 20:50:00,2015-10-18 20:58:00,PAID_SUCCESS,8.0
10,2781,5445,1100703863,2015-10-26 11:22:00,2015-10-26 11:25:00,PAID_SUCCESS,3.0
12,3202,8263,1100561933,2015-01-11 16:44:00,2015-01-11 16:46:00,PAID_SUCCESS,2.0
20,3962,10702,1100708595,2015-11-11 10:22:00,2015-11-11 10:33:00,PAID_SUCCESS,11.0
21,4001,10722,1100708626,2015-11-11 13:44:00,2015-12-11 13:53:00,PAID_SUCCESS,43209.0
26,4461,11804,1100655391,2015-11-16 18:46:00,2015-11-16 18:52:00,PAID_SUCCESS,6.0
28,4701,12142,1100710303,2015-11-18 10:41:00,2015-11-19 13:49:00,PAID_SUCCESS,1628.0
29,4941,12863,1100710868,2015-11-21 08:39:00,2015-11-21 08:42:00,PAID_SUCCESS,3.0
32,5241,13464,1100711990,2015-11-24 06:40:00,2015-11-24 07:03:00,PAID_SUCCESS,23.0
35,5343,13830,1100712197,2015-11-25 11:42:00,2015-11-25 11:45:00,PAID_SUCCESS,3.0
37,5441,3124,1100704391,2015-11-27 06:22:00,2015-11-27 06:27:00,PAID_SUCCESS,5.0
39,5724,14837,1100707138,2015-01-12 10:29:00,2015-01-12 10:30:00,PAID_SUCCESS,1.0
40,5741,15006,1100713925,2015-01-12 11:30:00,2015-01-12 19:05:00,PAID_SUCCESS,455.0
41,5742,15012,1100713938,2015-01-12 11:45:00,2015-01-12 11:47:00,PAID_SUCCESS,2.0
43,5822,15006,1100713925,2015-01-12 18:16:00,2015-01-12 19:40:00,PAID_SUCCESS,84.0
44,5841,15082,1100714080,2015-01-12 20:25:00,2015-01-12 20:31:00,PAID_SUCCESS,6.0
47,5961,15037,1100714092,2015-02-12 13:21:00,2015-02-12 13:32:00,PAID_SUCCESS,11.0
51,6041,15309,1100714293,2015-03-12 11:38:00,2015-03-12 11:40:00,PAID_SUCCESS,2.0
57,6361,16222,1100715592,2015-07-12 14:59:00,2015-07-12 15:09:00,PAID_SUCCESS,10.0
59,6482,16367,1100715869,2015-08-12 13:10:00,2015-08-12 13:15:00,PAID_SUCCESS,5.0
65,2121,21,1100658148,2015-10-15 11:49:00,2015-10-15 11:51:00,PAID_SUCCESS,2.0
66,2122,21,1100658148,2015-10-15 11:58:00,2015-10-15 12:00:00,PAID_SUCCESS,2.0
72,2462,4725,1100652466,2015-10-18 16:26:00,2015-10-18 16:35:00,PAID_SUCCESS,9.0
74,2661,5547,1100643684,2015-10-22 14:46:00,2015-10-22 14:58:00,PAID_SUCCESS,12.0
82,3281,8722,1100707010,2015-03-11 14:26:00,2015-03-11 14:54:00,PAID_SUCCESS,28.0
84,3522,9362,1100671979,2015-06-11 12:30:00,2015-06-11 12:31:00,PAID_SUCCESS,1.0
99,4381,11727,1100709922,2015-11-16 11:43:00,2015-11-16 11:55:00,PAID_SUCCESS,12.0
100,4401,5066,1100689191,2015-11-16 13:05:00,2015-11-16 13:06:00,PAID_SUCCESS,1.0
103,4601,12063,1100710251,2015-11-17 19:49:00,2015-11-17 19:53:00,PAID_SUCCESS,4.0
...,...,...,...,...,...,...,...
11874,112761,203462,1100886811,2017-03-11 14:04:00,2017-03-11 23:45:00,PAID_SUCCESS,581.0
11881,122122,224182,1100892779,2017-11-20 13:21:00,2017-11-20 13:28:00,PAID_SUCCESS,7.0
11882,122221,222422,1100496090,2017-11-20 15:00:00,2017-11-20 15:04:00,PAID_SUCCESS,4.0
11883,122222,222422,1100496090,2017-11-20 15:00:00,2017-11-20 15:08:00,PAID_SUCCESS,8.0
11889,123781,228582,1100894128,2017-11-25 07:51:00,2017-11-25 08:00:00,PAID_SUCCESS,9.0
11894,83183,143944,1100855468,2017-06-24 01:08:00,2017-06-24 01:23:00,PAID_SUCCESS,15.0
11895,83322,134645,1100847847,2017-06-24 20:44:00,2017-06-24 20:53:00,PAID_SUCCESS,9.0
11896,84761,140503,1100858555,2017-03-07 21:16:00,2017-03-07 21:21:00,PAID_SUCCESS,5.0
11898,87361,151007,1100861908,2017-07-20 08:46:00,2017-07-20 08:57:00,PAID_SUCCESS,11.0
11899,87781,121443,1100836463,2017-07-23 18:45:00,2017-07-23 18:48:00,PAID_SUCCESS,3.0
11902,89742,97822,1100815868,2017-07-08 22:16:00,2017-07-08 22:19:00,PAID_SUCCESS,3.0
11904,90001,154623,1100459139,2017-09-08 13:27:00,2017-09-08 13:30:00,PAID_SUCCESS,3.0
11905,90061,154771,1100867134,2017-09-08 16:23:00,2017-09-08 16:39:00,PAID_SUCCESS,16.0
11909,91881,158724,1100870175,2017-08-22 10:50:00,2017-08-22 11:23:00,PAID_SUCCESS,33.0
11910,93121,160502,1100871621,2017-08-28 21:38:00,2017-08-28 21:44:00,PAID_SUCCESS,6.0
11912,94043,162362,1100711557,2017-08-31 10:46:00,2017-08-31 10:51:00,PAID_SUCCESS,5.0
11917,99441,176002,1100877015,2017-09-20 21:55:00,2017-09-20 22:00:00,PAID_SUCCESS,5.0
11922,105341,136982,1100852919,2017-09-10 20:05:00,2017-09-10 20:18:00,PAID_SUCCESS,13.0
11924,105842,184782,1100881270,2017-10-10 20:00:00,2017-10-10 23:33:00,PAID_SUCCESS,213.0
11925,105901,27468,1100731690,2017-10-10 21:03:00,2017-10-10 21:21:00,PAID_SUCCESS,18.0
11926,108861,195142,1100883956,2017-10-21 02:12:00,2017-10-21 10:53:00,PAID_SUCCESS,521.0
11927,108882,121343,1100559973,2017-10-21 08:46:00,2017-10-21 08:53:00,PAID_SUCCESS,7.0
11934,115701,212963,1100889388,2017-10-11 20:07:00,2017-11-11 06:37:00,PAID_SUCCESS,43830.0
11938,118164,215483,1100889933,2017-11-11 21:49:00,2017-11-11 22:00:00,PAID_SUCCESS,11.0
11942,119321,217362,1100890624,2017-11-13 14:15:00,2017-11-13 14:40:00,PAID_SUCCESS,25.0
11945,123061,226222,1100893313,2017-11-22 10:27:00,2017-11-22 10:40:00,PAID_SUCCESS,13.0
11946,123441,227282,1100893638,2017-11-23 13:07:00,2017-11-23 13:19:00,PAID_SUCCESS,12.0
11948,123901,76584,1100894599,2017-11-25 20:29:00,2017-11-25 22:15:00,PAID_SUCCESS,106.0
11950,125341,231882,1100895816,2017-11-29 14:32:00,2017-11-29 14:41:00,PAID_SUCCESS,9.0
11952,125944,203942,1100887409,2017-01-12 00:02:00,2017-01-12 00:01:00,PAID_SUCCESS,-1.0

In [6]:
time_join_filt = join_diff[join_diff.diff_time >= 0]
time_join_filt

,ORDER_ID,CUSTOMER_ID,BPCODE,CREATE_DATE,UPDATE_DATE,STATUS,diff_time
2,2321,4223,1100702550,2015-10-16 15:36:00,2015-10-16 15:42:00,PAID_SUCCESS,6.0
6,2481,2509,1100605014,2015-10-18 20:50:00,2015-10-18 20:58:00,PAID_SUCCESS,8.0
10,2781,5445,1100703863,2015-10-26 11:22:00,2015-10-26 11:25:00,PAID_SUCCESS,3.0
12,3202,8263,1100561933,2015-01-11 16:44:00,2015-01-11 16:46:00,PAID_SUCCESS,2.0
20,3962,10702,1100708595,2015-11-11 10:22:00,2015-11-11 10:33:00,PAID_SUCCESS,11.0
21,4001,10722,1100708626,2015-11-11 13:44:00,2015-12-11 13:53:00,PAID_SUCCESS,43209.0
26,4461,11804,1100655391,2015-11-16 18:46:00,2015-11-16 18:52:00,PAID_SUCCESS,6.0
28,4701,12142,1100710303,2015-11-18 10:41:00,2015-11-19 13:49:00,PAID_SUCCESS,1628.0
29,4941,12863,1100710868,2015-11-21 08:39:00,2015-11-21 08:42:00,PAID_SUCCESS,3.0
32,5241,13464,1100711990,2015-11-24 06:40:00,2015-11-24 07:03:00,PAID_SUCCESS,23.0
35,5343,13830,1100712197,2015-11-25 11:42:00,2015-11-25 11:45:00,PAID_SUCCESS,3.0
37,5441,3124,1100704391,2015-11-27 06:22:00,2015-11-27 06:27:00,PAID_SUCCESS,5.0
39,5724,14837,1100707138,2015-01-12 10:29:00,2015-01-12 10:30:00,PAID_SUCCESS,1.0
40,5741,15006,1100713925,2015-01-12 11:30:00,2015-01-12 19:05:00,PAID_SUCCESS,455.0
41,5742,15012,1100713938,2015-01-12 11:45:00,2015-01-12 11:47:00,PAID_SUCCESS,2.0
43,5822,15006,1100713925,2015-01-12 18:16:00,2015-01-12 19:40:00,PAID_SUCCESS,84.0
44,5841,15082,1100714080,2015-01-12 20:25:00,2015-01-12 20:31:00,PAID_SUCCESS,6.0
47,5961,15037,1100714092,2015-02-12 13:21:00,2015-02-12 13:32:00,PAID_SUCCESS,11.0
51,6041,15309,1100714293,2015-03-12 11:38:00,2015-03-12 11:40:00,PAID_SUCCESS,2.0
57,6361,16222,1100715592,2015-07-12 14:59:00,2015-07-12 15:09:00,PAID_SUCCESS,10.0
59,6482,16367,1100715869,2015-08-12 13:10:00,2015-08-12 13:15:00,PAID_SUCCESS,5.0
65,2121,21,1100658148,2015-10-15 11:49:00,2015-10-15 11:51:00,PAID_SUCCESS,2.0
66,2122,21,1100658148,2015-10-15 11:58:00,2015-10-15 12:00:00,PAID_SUCCESS,2.0
72,2462,4725,1100652466,2015-10-18 16:26:00,2015-10-18 16:35:00,PAID_SUCCESS,9.0
74,2661,5547,1100643684,2015-10-22 14:46:00,2015-10-22 14:58:00,PAID_SUCCESS,12.0
82,3281,8722,1100707010,2015-03-11 14:26:00,2015-03-11 14:54:00,PAID_SUCCESS,28.0
84,3522,9362,1100671979,2015-06-11 12:30:00,2015-06-11 12:31:00,PAID_SUCCESS,1.0
99,4381,11727,1100709922,2015-11-16 11:43:00,2015-11-16 11:55:00,PAID_SUCCESS,12.0
100,4401,5066,1100689191,2015-11-16 13:05:00,2015-11-16 13:06:00,PAID_SUCCESS,1.0
103,4601,12063,1100710251,2015-11-17 19:49:00,2015-11-17 19:53:00,PAID_SUCCESS,4.0
...,...,...,...,...,...,...,...
11872,111341,204763,1100887183,2017-10-31 10:46:00,2017-10-31 10:51:00,PAID_SUCCESS,5.0
11874,112761,203462,1100886811,2017-03-11 14:04:00,2017-03-11 23:45:00,PAID_SUCCESS,581.0
11881,122122,224182,1100892779,2017-11-20 13:21:00,2017-11-20 13:28:00,PAID_SUCCESS,7.0
11882,122221,222422,1100496090,2017-11-20 15:00:00,2017-11-20 15:04:00,PAID_SUCCESS,4.0
11883,122222,222422,1100496090,2017-11-20 15:00:00,2017-11-20 15:08:00,PAID_SUCCESS,8.0
11889,123781,228582,1100894128,2017-11-25 07:51:00,2017-11-25 08:00:00,PAID_SUCCESS,9.0
11894,83183,143944,1100855468,2017-06-24 01:08:00,2017-06-24 01:23:00,PAID_SUCCESS,15.0
11895,83322,134645,1100847847,2017-06-24 20:44:00,2017-06-24 20:53:00,PAID_SUCCESS,9.0
11896,84761,140503,1100858555,2017-03-07 21:16:00,2017-03-07 21:21:00,PAID_SUCCESS,5.0
11898,87361,151007,1100861908,2017-07-20 08:46:00,2017-07-20 08:57:00,PAID_SUCCESS,11.0
11899,87781,121443,1100836463,2017-07-23 18:45:00,2017-07-23 18:48:00,PAID_SUCCESS,3.0
11902,89742,97822,1100815868,2017-07-08 22:16:00,2017-07-08 22:19:00,PAID_SUCCESS,3.0
11904,90001,154623,1100459139,2017-09-08 13:27:00,2017-09-08 13:30:00,PAID_SUCCESS,3.0
11905,90061,154771,1100867134,2017-09-08 16:23:00,2017-09-08 16:39:00,PAID_SUCCESS,16.0
11909,91881,158724,1100870175,2017-08-22 10:50:00,2017-08-22 11:23:00,PAID_SUCCESS,33.0
11910,93121,160502,1100871621,2017-08-28 21:38:00,2017-08-28 21:44:00,PAID_SUCCESS,6.0
11912,94043,162362,1100711557,2017-08-31 10:46:00,2017-08-31 10:51:00,PAID_SUCCESS,5.0
11917,99441,176002,1100877015,2017-09-20 21:55:00,2017-09-20 22:00:00,PAID_SUCCESS,5.0
11922,105341,136982,1100852919,2017-09-10 20:05:00,2017-09-10 20:18:00,PAID_SUCCESS,13.0
11924,105842,184782,1100881270,2017-10-10 20:00:00,2017-10-10 23:33:00,PAID_SUCCESS,213.0
11925,105901,27468,1100731690,2017-10-10 21:03:00,2017-10-10 21:21:00,PAID_SUCCESS,18.0
11926,108861,195142,1100883956,2017-10-21 02:12:00,2017-10-21 10:53:00,PAID_SUCCESS,521.0
11927,108882,121343,1100559973,2017-10-21 08:46:00,2017-10-21 08:53:00,PAID_SUCCESS,7.0
11934,115701,212963,1100889388,2017-10-11 20:07:00,2017-11-11 06:37:00,PAID_SUCCESS,43830.0
11938,118164,215483,1100889933,2017-11-11 21:49:00,2017-11-11 22:00:00,PAID_SUCCESS,11.0
11942,119321,217362,1100890624,2017-11-13 14:15:00,2017-11-13 14:40:00,PAID_SUCCESS,25.0
11945,123061,226222,1100893313,2017-11-22 10:27:00,2017-11-22 10:40:00,PAID_SUCCESS,13.0
11946,123441,227282,1100893638,2017-11-23 13:07:00,2017-11-23 13:19:00,PAID_SUCCESS,12.0
11948,123901,76584,1100894599,2017-11-25 20:29:00,2017-11-25 22:15:00,PAID_SUCCESS,106.0
11950,125341,231882,1100895816,2017-11-29 14:32:00,2017-11-29 14:41:00,PAID_SUCCESS,9.0

In [7]:
time_join_filt.min()

ORDER_ID                      2121
CUSTOMER_ID                     21
BPCODE                  1100316131
CREATE_DATE    2015-01-11 16:39:00
UPDATE_DATE    2015-01-11 16:44:00
STATUS                PAID_SUCCESS
diff_time                        0
dtype: object

In [8]:
time_join_filt.max()

ORDER_ID                    143382
CUSTOMER_ID                 259563
BPCODE                  1100911110
CREATE_DATE    2018-12-01 14:57:00
UPDATE_DATE    2018-12-01 15:04:00
STATUS                PAID_SUCCESS
diff_time                   352736
dtype: object

In [9]:
time_cleaned = time_join_filt[(time_join_filt['CREATE_DATE'] > '2015-01-10 16:39:00') & (time_join_filt['CREATE_DATE'] < '2018-01-01')]
time_cleaned

,ORDER_ID,CUSTOMER_ID,BPCODE,CREATE_DATE,UPDATE_DATE,STATUS,diff_time
2,2321,4223,1100702550,2015-10-16 15:36:00,2015-10-16 15:42:00,PAID_SUCCESS,6.0
6,2481,2509,1100605014,2015-10-18 20:50:00,2015-10-18 20:58:00,PAID_SUCCESS,8.0
10,2781,5445,1100703863,2015-10-26 11:22:00,2015-10-26 11:25:00,PAID_SUCCESS,3.0
12,3202,8263,1100561933,2015-01-11 16:44:00,2015-01-11 16:46:00,PAID_SUCCESS,2.0
20,3962,10702,1100708595,2015-11-11 10:22:00,2015-11-11 10:33:00,PAID_SUCCESS,11.0
21,4001,10722,1100708626,2015-11-11 13:44:00,2015-12-11 13:53:00,PAID_SUCCESS,43209.0
26,4461,11804,1100655391,2015-11-16 18:46:00,2015-11-16 18:52:00,PAID_SUCCESS,6.0
28,4701,12142,1100710303,2015-11-18 10:41:00,2015-11-19 13:49:00,PAID_SUCCESS,1628.0
29,4941,12863,1100710868,2015-11-21 08:39:00,2015-11-21 08:42:00,PAID_SUCCESS,3.0
32,5241,13464,1100711990,2015-11-24 06:40:00,2015-11-24 07:03:00,PAID_SUCCESS,23.0
35,5343,13830,1100712197,2015-11-25 11:42:00,2015-11-25 11:45:00,PAID_SUCCESS,3.0
37,5441,3124,1100704391,2015-11-27 06:22:00,2015-11-27 06:27:00,PAID_SUCCESS,5.0
39,5724,14837,1100707138,2015-01-12 10:29:00,2015-01-12 10:30:00,PAID_SUCCESS,1.0
40,5741,15006,1100713925,2015-01-12 11:30:00,2015-01-12 19:05:00,PAID_SUCCESS,455.0
41,5742,15012,1100713938,2015-01-12 11:45:00,2015-01-12 11:47:00,PAID_SUCCESS,2.0
43,5822,15006,1100713925,2015-01-12 18:16:00,2015-01-12 19:40:00,PAID_SUCCESS,84.0
44,5841,15082,1100714080,2015-01-12 20:25:00,2015-01-12 20:31:00,PAID_SUCCESS,6.0
47,5961,15037,1100714092,2015-02-12 13:21:00,2015-02-12 13:32:00,PAID_SUCCESS,11.0
51,6041,15309,1100714293,2015-03-12 11:38:00,2015-03-12 11:40:00,PAID_SUCCESS,2.0
57,6361,16222,1100715592,2015-07-12 14:59:00,2015-07-12 15:09:00,PAID_SUCCESS,10.0
59,6482,16367,1100715869,2015-08-12 13:10:00,2015-08-12 13:15:00,PAID_SUCCESS,5.0
65,2121,21,1100658148,2015-10-15 11:49:00,2015-10-15 11:51:00,PAID_SUCCESS,2.0
66,2122,21,1100658148,2015-10-15 11:58:00,2015-10-15 12:00:00,PAID_SUCCESS,2.0
72,2462,4725,1100652466,2015-10-18 16:26:00,2015-10-18 16:35:00,PAID_SUCCESS,9.0
74,2661,5547,1100643684,2015-10-22 14:46:00,2015-10-22 14:58:00,PAID_SUCCESS,12.0
82,3281,8722,1100707010,2015-03-11 14:26:00,2015-03-11 14:54:00,PAID_SUCCESS,28.0
84,3522,9362,1100671979,2015-06-11 12:30:00,2015-06-11 12:31:00,PAID_SUCCESS,1.0
99,4381,11727,1100709922,2015-11-16 11:43:00,2015-11-16 11:55:00,PAID_SUCCESS,12.0
100,4401,5066,1100689191,2015-11-16 13:05:00,2015-11-16 13:06:00,PAID_SUCCESS,1.0
103,4601,12063,1100710251,2015-11-17 19:49:00,2015-11-17 19:53:00,PAID_SUCCESS,4.0
...,...,...,...,...,...,...,...
11872,111341,204763,1100887183,2017-10-31 10:46:00,2017-10-31 10:51:00,PAID_SUCCESS,5.0
11874,112761,203462,1100886811,2017-03-11 14:04:00,2017-03-11 23:45:00,PAID_SUCCESS,581.0
11881,122122,224182,1100892779,2017-11-20 13:21:00,2017-11-20 13:28:00,PAID_SUCCESS,7.0
11882,122221,222422,1100496090,2017-11-20 15:00:00,2017-11-20 15:04:00,PAID_SUCCESS,4.0
11883,122222,222422,1100496090,2017-11-20 15:00:00,2017-11-20 15:08:00,PAID_SUCCESS,8.0
11889,123781,228582,1100894128,2017-11-25 07:51:00,2017-11-25 08:00:00,PAID_SUCCESS,9.0
11894,83183,143944,1100855468,2017-06-24 01:08:00,2017-06-24 01:23:00,PAID_SUCCESS,15.0
11895,83322,134645,1100847847,2017-06-24 20:44:00,2017-06-24 20:53:00,PAID_SUCCESS,9.0
11896,84761,140503,1100858555,2017-03-07 21:16:00,2017-03-07 21:21:00,PAID_SUCCESS,5.0
11898,87361,151007,1100861908,2017-07-20 08:46:00,2017-07-20 08:57:00,PAID_SUCCESS,11.0
11899,87781,121443,1100836463,2017-07-23 18:45:00,2017-07-23 18:48:00,PAID_SUCCESS,3.0
11902,89742,97822,1100815868,2017-07-08 22:16:00,2017-07-08 22:19:00,PAID_SUCCESS,3.0
11904,90001,154623,1100459139,2017-09-08 13:27:00,2017-09-08 13:30:00,PAID_SUCCESS,3.0
11905,90061,154771,1100867134,2017-09-08 16:23:00,2017-09-08 16:39:00,PAID_SUCCESS,16.0
11909,91881,158724,1100870175,2017-08-22 10:50:00,2017-08-22 11:23:00,PAID_SUCCESS,33.0
11910,93121,160502,1100871621,2017-08-28 21:38:00,2017-08-28 21:44:00,PAID_SUCCESS,6.0
11912,94043,162362,1100711557,2017-08-31 10:46:00,2017-08-31 10:51:00,PAID_SUCCESS,5.0
11917,99441,176002,1100877015,2017-09-20 21:55:00,2017-09-20 22:00:00,PAID_SUCCESS,5.0
11922,105341,136982,1100852919,2017-09-10 20:05:00,2017-09-10 20:18:00,PAID_SUCCESS,13.0
11924,105842,184782,1100881270,2017-10-10 20:00:00,2017-10-10 23:33:00,PAID_SUCCESS,213.0
11925,105901,27468,1100731690,2017-10-10 21:03:00,2017-10-10 21:21:00,PAID_SUCCESS,18.0
11926,108861,195142,1100883956,2017-10-21 02:12:00,2017-10-21 10:53:00,PAID_SUCCESS,521.0
11927,108882,121343,1100559973,2017-10-21 08:46:00,2017-10-21 08:53:00,PAID_SUCCESS,7.0
11934,115701,212963,1100889388,2017-10-11 20:07:00,2017-11-11 06:37:00,PAID_SUCCESS,43830.0
11938,118164,215483,1100889933,2017-11-11 21:49:00,2017-11-11 22:00:00,PAID_SUCCESS,11.0
11942,119321,217362,1100890624,2017-11-13 14:15:00,2017-11-13 14:40:00,PAID_SUCCESS,25.0
11945,123061,226222,1100893313,2017-11-22 10:27:00,2017-11-22 10:40:00,PAID_SUCCESS,13.0
11946,123441,227282,1100893638,2017-11-23 13:07:00,2017-11-23 13:19:00,PAID_SUCCESS,12.0
11948,123901,76584,1100894599,2017-11-25 20:29:00,2017-11-25 22:15:00,PAID_SUCCESS,106.0
11950,125341,231882,1100895816,2017-11-29 14:32:00,2017-11-29 14:41:00,PAID_SUCCESS,9.0

In [10]:
time_cleaned.min()

ORDER_ID                      2121
CUSTOMER_ID                     21
BPCODE                  1100316131
CREATE_DATE    2015-01-11 16:39:00
UPDATE_DATE    2015-01-11 16:44:00
STATUS                PAID_SUCCESS
diff_time                        0
dtype: object

In [11]:
time_cleaned.max()

ORDER_ID                    139461
CUSTOMER_ID                 252104
BPCODE                  1100906983
CREATE_DATE    2017-12-31 21:51:00
UPDATE_DATE    2017-12-31 21:57:00
STATUS                PAID_SUCCESS
diff_time                   352736
dtype: object

In [12]:
del time_cleaned['diff_time']
new_order_success = time_cleaned
new_order_success

,ORDER_ID,CUSTOMER_ID,BPCODE,CREATE_DATE,UPDATE_DATE,STATUS
2,2321,4223,1100702550,2015-10-16 15:36:00,2015-10-16 15:42:00,PAID_SUCCESS
6,2481,2509,1100605014,2015-10-18 20:50:00,2015-10-18 20:58:00,PAID_SUCCESS
10,2781,5445,1100703863,2015-10-26 11:22:00,2015-10-26 11:25:00,PAID_SUCCESS
12,3202,8263,1100561933,2015-01-11 16:44:00,2015-01-11 16:46:00,PAID_SUCCESS
20,3962,10702,1100708595,2015-11-11 10:22:00,2015-11-11 10:33:00,PAID_SUCCESS
21,4001,10722,1100708626,2015-11-11 13:44:00,2015-12-11 13:53:00,PAID_SUCCESS
26,4461,11804,1100655391,2015-11-16 18:46:00,2015-11-16 18:52:00,PAID_SUCCESS
28,4701,12142,1100710303,2015-11-18 10:41:00,2015-11-19 13:49:00,PAID_SUCCESS
29,4941,12863,1100710868,2015-11-21 08:39:00,2015-11-21 08:42:00,PAID_SUCCESS
32,5241,13464,1100711990,2015-11-24 06:40:00,2015-11-24 07:03:00,PAID_SUCCESS
35,5343,13830,1100712197,2015-11-25 11:42:00,2015-11-25 11:45:00,PAID_SUCCESS
37,5441,3124,1100704391,2015-11-27 06:22:00,2015-11-27 06:27:00,PAID_SUCCESS
39,5724,14837,1100707138,2015-01-12 10:29:00,2015-01-12 10:30:00,PAID_SUCCESS
40,5741,15006,1100713925,2015-01-12 11:30:00,2015-01-12 19:05:00,PAID_SUCCESS
41,5742,15012,1100713938,2015-01-12 11:45:00,2015-01-12 11:47:00,PAID_SUCCESS
43,5822,15006,1100713925,2015-01-12 18:16:00,2015-01-12 19:40:00,PAID_SUCCESS
44,5841,15082,1100714080,2015-01-12 20:25:00,2015-01-12 20:31:00,PAID_SUCCESS
47,5961,15037,1100714092,2015-02-12 13:21:00,2015-02-12 13:32:00,PAID_SUCCESS
51,6041,15309,1100714293,2015-03-12 11:38:00,2015-03-12 11:40:00,PAID_SUCCESS
57,6361,16222,1100715592,2015-07-12 14:59:00,2015-07-12 15:09:00,PAID_SUCCESS
59,6482,16367,1100715869,2015-08-12 13:10:00,2015-08-12 13:15:00,PAID_SUCCESS
65,2121,21,1100658148,2015-10-15 11:49:00,2015-10-15 11:51:00,PAID_SUCCESS
66,2122,21,1100658148,2015-10-15 11:58:00,2015-10-15 12:00:00,PAID_SUCCESS
72,2462,4725,1100652466,2015-10-18 16:26:00,2015-10-18 16:35:00,PAID_SUCCESS
74,2661,5547,1100643684,2015-10-22 14:46:00,2015-10-22 14:58:00,PAID_SUCCESS
82,3281,8722,1100707010,2015-03-11 14:26:00,2015-03-11 14:54:00,PAID_SUCCESS
84,3522,9362,1100671979,2015-06-11 12:30:00,2015-06-11 12:31:00,PAID_SUCCESS
99,4381,11727,1100709922,2015-11-16 11:43:00,2015-11-16 11:55:00,PAID_SUCCESS
100,4401,5066,1100689191,2015-11-16 13:05:00,2015-11-16 13:06:00,PAID_SUCCESS
103,4601,12063,1100710251,2015-11-17 19:49:00,2015-11-17 19:53:00,PAID_SUCCESS
...,...,...,...,...,...,...
11872,111341,204763,1100887183,2017-10-31 10:46:00,2017-10-31 10:51:00,PAID_SUCCESS
11874,112761,203462,1100886811,2017-03-11 14:04:00,2017-03-11 23:45:00,PAID_SUCCESS
11881,122122,224182,1100892779,2017-11-20 13:21:00,2017-11-20 13:28:00,PAID_SUCCESS
11882,122221,222422,1100496090,2017-11-20 15:00:00,2017-11-20 15:04:00,PAID_SUCCESS
11883,122222,222422,1100496090,2017-11-20 15:00:00,2017-11-20 15:08:00,PAID_SUCCESS
11889,123781,228582,1100894128,2017-11-25 07:51:00,2017-11-25 08:00:00,PAID_SUCCESS
11894,83183,143944,1100855468,2017-06-24 01:08:00,2017-06-24 01:23:00,PAID_SUCCESS
11895,83322,134645,1100847847,2017-06-24 20:44:00,2017-06-24 20:53:00,PAID_SUCCESS
11896,84761,140503,1100858555,2017-03-07 21:16:00,2017-03-07 21:21:00,PAID_SUCCESS
11898,87361,151007,1100861908,2017-07-20 08:46:00,2017-07-20 08:57:00,PAID_SUCCESS
11899,87781,121443,1100836463,2017-07-23 18:45:00,2017-07-23 18:48:00,PAID_SUCCESS
11902,89742,97822,1100815868,2017-07-08 22:16:00,2017-07-08 22:19:00,PAID_SUCCESS
11904,90001,154623,1100459139,2017-09-08 13:27:00,2017-09-08 13:30:00,PAID_SUCCESS
11905,90061,154771,1100867134,2017-09-08 16:23:00,2017-09-08 16:39:00,PAID_SUCCESS
11909,91881,158724,1100870175,2017-08-22 10:50:00,2017-08-22 11:23:00,PAID_SUCCESS
11910,93121,160502,1100871621,2017-08-28 21:38:00,2017-08-28 21:44:00,PAID_SUCCESS
11912,94043,162362,1100711557,2017-08-31 10:46:00,2017-08-31 10:51:00,PAID_SUCCESS
11917,99441,176002,1100877015,2017-09-20 21:55:00,2017-09-20 22:00:00,PAID_SUCCESS
11922,105341,136982,1100852919,2017-09-10 20:05:00,2017-09-10 20:18:00,PAID_SUCCESS
11924,105842,184782,1100881270,2017-10-10 20:00:00,2017-10-10 23:33:00,PAID_SUCCESS
11925,105901,27468,1100731690,2017-10-10 21:03:00,2017-10-10 21:21:00,PAID_SUCCESS
11926,108861,195142,1100883956,2017-10-21 02:12:00,2017-10-21 10:53:00,PAID_SUCCESS
11927,108882,121343,1100559973,2017-10-21 08:46:00,2017-10-21 08:53:00,PAID_SUCCESS
11934,115701,212963,1100889388,2017-10-11 20:07:00,2017-11-11 06:37:00,PAID_SUCCESS
11938,118164,215483,1100889933,2017-11-11 21:49:00,2017-11-11 22:00:00,PAID_SUCCESS
11942,119321,217362,1100890624,2017-11-13 14:15:00,2017-11-13 14:40:00,PAID_SUCCESS
11945,123061,226222,1100893313,2017-11-22 10:27:00,2017-11-22 10:40:00,PAID_SUCCESS
11946,123441,227282,1100893638,2017-11-23 13:07:00,2017-11-23 13:19:00,PAID_SUCCESS
11948,123901,76584,1100894599,2017-11-25 20:29:00,2017-11-25 22:15:00,PAID_SUCCESS
11950,125341,231882,1100895816,2017-11-29 14:32:00,2017-11-29 14:41:00,PAID_SUCCESS

In [13]:
new_order_success.dtypes

ORDER_ID                int64
CUSTOMER_ID             int64
BPCODE                  int64
CREATE_DATE    datetime64[ns]
UPDATE_DATE    datetime64[ns]
STATUS                 object
dtype: object

In [14]:
new_order_success['STATUS'].unique()

array(['PAID_SUCCESS'], dtype=object)

In [15]:
pd.isnull(new_order_success).sum() > 0

ORDER_ID       False
CUSTOMER_ID    False
BPCODE         False
CREATE_DATE    False
UPDATE_DATE    False
STATUS         False
dtype: bool

# Export file order_success

In [16]:
new_order_success.to_csv('../data_clean/order_success.csv')

# สินค้าในคำสั่งซื้อ (order_item)

In [17]:
order_item = read_csv('../data_20180120/order_item.csv')

df_order_item = pd.DataFrame(order_item)

data_order_item = df_order_item

import locale
locale.setlocale(locale.LC_ALL, '') 

new_order_item = data_order_item[:]
new_order_item['ORDER_ID'] = data_order_item['ORDER_ID'].apply(locale.atoi)
new_order_item['ORDER_ITEM_ID'] = data_order_item['ORDER_ITEM_ID'].apply(locale.atoi)
new_order_item['MATNR'] = data_order_item['MATNR'].apply(locale.atoi)
new_order_item['QUANTITY'] = data_order_item['QUANTITY'].apply(locale.atoi)

new_order_item

       ORDER_ID  ORDER_ITEM_ID     MATNR  QUANTITY TOTAL_PRICE
0          2024           2024  19106665         1       2,700
1          2024           2025  19049635         1      36,900
2          2241           2221  19086648         1       6,900
3          2321           2281  19110489         1       7,900
4          2341           2301  19086648         1       6,900
5          2341           2302  19086655         1       3,490
6          2422           2382  19104920         1       6,900
7          2442           2403  19062438         1      18,500
8          2481           2421  19110830         1       9,900
9          2561           2483  19077657         1      22,400
10         2561           2484  19077658         1       6,900
11         2641           2561  19096159         1      11,500
12         2682           2602  19111249         1      27,900
13         2781           2701  19047937         1       3,640
14         2781           2702  19047936         1       1,050
15         2781           2703  59008843         1      19,900
16         3121           3041  19090826         1       5,460
17         3202           3122  19090399         1       1,750
18         3202           3123  19038032         1       2,900
19         3202           3124  19111271         1       4,830
20         3261           3181  59004665         1       9,900
21         3262           3182  19077852         1       3,300
22         3341           3261  59008061         1      15,500
23         3403           3325  19112683         1      30,900
24         3461           3381  19110751         1       6,930
25         3681           3601  59008485         1      19,900
26         3781           3701  19112398         1       3,150
27         3962           3863  19077060         1       3,900
28         4001           3901  59001239         1      43,900
29         4021           3921  19111271         1       4,830
...         ...            ...       ...       ...         ...
17418    139864         132881  19112864         1       7,700
17419    139861         132882  19112865         1       6,440
17420    140341         133321  19138261         1      12,900
17421    140381         133361  19015491         1       7,650
17422    140401         133381  19078065         1      14,300
17423    140401         133382  19088112         2      35,800
17424    140482         133462  19097478         1      25,400
17425    140681         133641  19096338         1       5,900
17426    140723         133683  19090443         1       6,900
17427    140761         133721  19088646         1      22,900
17428    141302         134261  19111070         1      28,800
17429    141301         134262  59010147         2      39,320
17430    141402         134362  19109485         1       4,200
17431    141481         134441  19035150         1       2,200
17432    141541         134501  19070034         1       1,470
17433    141541         134502  19109909         1       7,990
17434    141541         134503  19091950         2       3,150
17435    141742         134682  19090819         1       1,750
17436    142001         134941  19087090         1       2,990
17437    142181         135121  39001981         1       9,900
17438    142461         135401  59010069         1      19,900
17439    142481         135421  19127609         1       2,310
17440    142481         135422  19045730         1       5,320
17441    142981         135881  19114660         2       1,800
17442    143201         136101  19071522         1       2,380
17443    143221         136121  19096167         1       7,920
17444    143282         136183  19090819         1       1,750
17445    143282         136184  19122686         1       5,250
17446    143282         136185  19096168         1       8,580
17447    143283         136186  19041344         1       2,590

[17448 rows x 5 columns]

In [18]:
import locale
from locale import atof
locale.setlocale(locale.LC_NUMERIC, '')
new_order_item['TOTAL_PRICE'] = new_order_item['TOTAL_PRICE'].apply(atof)
new_order_item

       ORDER_ID  ORDER_ITEM_ID     MATNR  QUANTITY  TOTAL_PRICE
0          2024           2024  19106665         1       2700.0
1          2024           2025  19049635         1      36900.0
2          2241           2221  19086648         1       6900.0
3          2321           2281  19110489         1       7900.0
4          2341           2301  19086648         1       6900.0
5          2341           2302  19086655         1       3490.0
6          2422           2382  19104920         1       6900.0
7          2442           2403  19062438         1      18500.0
8          2481           2421  19110830         1       9900.0
9          2561           2483  19077657         1      22400.0
10         2561           2484  19077658         1       6900.0
11         2641           2561  19096159         1      11500.0
12         2682           2602  19111249         1      27900.0
13         2781           2701  19047937         1       3640.0
14         2781           2702  19047936         1       1050.0
15         2781           2703  59008843         1      19900.0
16         3121           3041  19090826         1       5460.0
17         3202           3122  19090399         1       1750.0
18         3202           3123  19038032         1       2900.0
19         3202           3124  19111271         1       4830.0
20         3261           3181  59004665         1       9900.0
21         3262           3182  19077852         1       3300.0
22         3341           3261  59008061         1      15500.0
23         3403           3325  19112683         1      30900.0
24         3461           3381  19110751         1       6930.0
25         3681           3601  59008485         1      19900.0
26         3781           3701  19112398         1       3150.0
27         3962           3863  19077060         1       3900.0
28         4001           3901  59001239         1      43900.0
29         4021           3921  19111271         1       4830.0
...         ...            ...       ...       ...          ...
17418    139864         132881  19112864         1       7700.0
17419    139861         132882  19112865         1       6440.0
17420    140341         133321  19138261         1      12900.0
17421    140381         133361  19015491         1       7650.0
17422    140401         133381  19078065         1      14300.0
17423    140401         133382  19088112         2      35800.0
17424    140482         133462  19097478         1      25400.0
17425    140681         133641  19096338         1       5900.0
17426    140723         133683  19090443         1       6900.0
17427    140761         133721  19088646         1      22900.0
17428    141302         134261  19111070         1      28800.0
17429    141301         134262  59010147         2      39320.0
17430    141402         134362  19109485         1       4200.0
17431    141481         134441  19035150         1       2200.0
17432    141541         134501  19070034         1       1470.0
17433    141541         134502  19109909         1       7990.0
17434    141541         134503  19091950         2       3150.0
17435    141742         134682  19090819         1       1750.0
17436    142001         134941  19087090         1       2990.0
17437    142181         135121  39001981         1       9900.0
17438    142461         135401  59010069         1      19900.0
17439    142481         135421  19127609         1       2310.0
17440    142481         135422  19045730         1       5320.0
17441    142981         135881  19114660         2       1800.0
17442    143201         136101  19071522         1       2380.0
17443    143221         136121  19096167         1       7920.0
17444    143282         136183  19090819         1       1750.0
17445    143282         136184  19122686         1       5250.0
17446    143282         136185  19096168         1       8580.0
17447    143283         136186  19041344         1       2590.0

[17448 rows x 5 columns]

Check

In [19]:
new_order_item['QUANTITY'].unique()

array([        1,        15,         6,        21,         4,         2,
              18,         3,        11,         5,        50,         8,
              10,         7,        30, 999999998,      1558,        12,
              24,       100,        20,       162,         9,        28], dtype=int64)

In [20]:
sum(new_order_item['TOTAL_PRICE'])

178600444827867.34

In [21]:
new_order_item.min()

ORDER_ID             1001.0
ORDER_ITEM_ID        1001.0
MATNR            19000158.0
QUANTITY                1.0
TOTAL_PRICE             0.0
dtype: float64

In [22]:
b_new_order_item = new_order_item.loc[new_order_item['TOTAL_PRICE'] > 38]

b_new_order_item

       ORDER_ID  ORDER_ITEM_ID     MATNR  QUANTITY  TOTAL_PRICE
0          2024           2024  19106665         1       2700.0
1          2024           2025  19049635         1      36900.0
2          2241           2221  19086648         1       6900.0
3          2321           2281  19110489         1       7900.0
4          2341           2301  19086648         1       6900.0
5          2341           2302  19086655         1       3490.0
6          2422           2382  19104920         1       6900.0
7          2442           2403  19062438         1      18500.0
8          2481           2421  19110830         1       9900.0
9          2561           2483  19077657         1      22400.0
10         2561           2484  19077658         1       6900.0
11         2641           2561  19096159         1      11500.0
12         2682           2602  19111249         1      27900.0
13         2781           2701  19047937         1       3640.0
14         2781           2702  19047936         1       1050.0
15         2781           2703  59008843         1      19900.0
16         3121           3041  19090826         1       5460.0
17         3202           3122  19090399         1       1750.0
18         3202           3123  19038032         1       2900.0
19         3202           3124  19111271         1       4830.0
20         3261           3181  59004665         1       9900.0
21         3262           3182  19077852         1       3300.0
22         3341           3261  59008061         1      15500.0
23         3403           3325  19112683         1      30900.0
24         3461           3381  19110751         1       6930.0
25         3681           3601  59008485         1      19900.0
26         3781           3701  19112398         1       3150.0
27         3962           3863  19077060         1       3900.0
28         4001           3901  59001239         1      43900.0
29         4021           3921  19111271         1       4830.0
...         ...            ...       ...       ...          ...
17418    139864         132881  19112864         1       7700.0
17419    139861         132882  19112865         1       6440.0
17420    140341         133321  19138261         1      12900.0
17421    140381         133361  19015491         1       7650.0
17422    140401         133381  19078065         1      14300.0
17423    140401         133382  19088112         2      35800.0
17424    140482         133462  19097478         1      25400.0
17425    140681         133641  19096338         1       5900.0
17426    140723         133683  19090443         1       6900.0
17427    140761         133721  19088646         1      22900.0
17428    141302         134261  19111070         1      28800.0
17429    141301         134262  59010147         2      39320.0
17430    141402         134362  19109485         1       4200.0
17431    141481         134441  19035150         1       2200.0
17432    141541         134501  19070034         1       1470.0
17433    141541         134502  19109909         1       7990.0
17434    141541         134503  19091950         2       3150.0
17435    141742         134682  19090819         1       1750.0
17436    142001         134941  19087090         1       2990.0
17437    142181         135121  39001981         1       9900.0
17438    142461         135401  59010069         1      19900.0
17439    142481         135421  19127609         1       2310.0
17440    142481         135422  19045730         1       5320.0
17441    142981         135881  19114660         2       1800.0
17442    143201         136101  19071522         1       2380.0
17443    143221         136121  19096167         1       7920.0
17444    143282         136183  19090819         1       1750.0
17445    143282         136184  19122686         1       5250.0
17446    143282         136185  19096168         1       8580.0
17447    143283         136186  19041344         1       2590.0

[17360 rows x 5 columns]

In [23]:
b_new_order_item.min()

ORDER_ID             1001.0
ORDER_ITEM_ID        1001.0
MATNR            19000158.0
QUANTITY                1.0
TOTAL_PRICE            39.0
dtype: float64

In [24]:
pd.isnull(b_new_order_item).sum() > 0

ORDER_ID         False
ORDER_ITEM_ID    False
MATNR            False
QUANTITY         False
TOTAL_PRICE      False
dtype: bool

In [25]:
b_new_order_item.dtypes

ORDER_ID           int64
ORDER_ITEM_ID      int64
MATNR              int64
QUANTITY           int64
TOTAL_PRICE      float64
dtype: object

# Export file order_item

In [69]:
b_new_order_item.to_csv('../data_clean/order_item.csv')

# รวมตารางชำระราคาเสร็จสิ้น + รหัสสินค้า

In [26]:
left = new_order_success

right = b_new_order_item

order_success_item = pd.merge(left, right, on='ORDER_ID')

order_success_item

,ORDER_ID,CUSTOMER_ID,BPCODE,CREATE_DATE,UPDATE_DATE,STATUS,ORDER_ITEM_ID,MATNR,QUANTITY,TOTAL_PRICE
0,2321,4223,1100702550,2015-10-16 15:36:00,2015-10-16 15:42:00,PAID_SUCCESS,2281,19110489,1,7900.0
1,2481,2509,1100605014,2015-10-18 20:50:00,2015-10-18 20:58:00,PAID_SUCCESS,2421,19110830,1,9900.0
2,2781,5445,1100703863,2015-10-26 11:22:00,2015-10-26 11:25:00,PAID_SUCCESS,2701,19047937,1,3640.0
3,2781,5445,1100703863,2015-10-26 11:22:00,2015-10-26 11:25:00,PAID_SUCCESS,2702,19047936,1,1050.0
4,2781,5445,1100703863,2015-10-26 11:22:00,2015-10-26 11:25:00,PAID_SUCCESS,2703,59008843,1,19900.0
5,3202,8263,1100561933,2015-01-11 16:44:00,2015-01-11 16:46:00,PAID_SUCCESS,3122,19090399,1,1750.0
6,3202,8263,1100561933,2015-01-11 16:44:00,2015-01-11 16:46:00,PAID_SUCCESS,3123,19038032,1,2900.0
7,3202,8263,1100561933,2015-01-11 16:44:00,2015-01-11 16:46:00,PAID_SUCCESS,3124,19111271,1,4830.0
8,3962,10702,1100708595,2015-11-11 10:22:00,2015-11-11 10:33:00,PAID_SUCCESS,3863,19077060,1,3900.0
9,4001,10722,1100708626,2015-11-11 13:44:00,2015-12-11 13:53:00,PAID_SUCCESS,3901,59001239,1,43900.0
10,4461,11804,1100655391,2015-11-16 18:46:00,2015-11-16 18:52:00,PAID_SUCCESS,4301,19111578,1,9900.0
11,4701,12142,1100710303,2015-11-18 10:41:00,2015-11-19 13:49:00,PAID_SUCCESS,4541,19047931,1,5530.0
12,4701,12142,1100710303,2015-11-18 10:41:00,2015-11-19 13:49:00,PAID_SUCCESS,4542,19089735,1,6900.0
13,4941,12863,1100710868,2015-11-21 08:39:00,2015-11-21 08:42:00,PAID_SUCCESS,4761,19078049,1,26600.0
14,5241,13464,1100711990,2015-11-24 06:40:00,2015-11-24 07:03:00,PAID_SUCCESS,5041,59010064,1,4900.0
15,5241,13464,1100711990,2015-11-24 06:40:00,2015-11-24 07:03:00,PAID_SUCCESS,5042,59003359,1,15500.0
16,5343,13830,1100712197,2015-11-25 11:42:00,2015-11-25 11:45:00,PAID_SUCCESS,5144,19089735,2,13800.0
17,5441,3124,1100704391,2015-11-27 06:22:00,2015-11-27 06:27:00,PAID_SUCCESS,5261,19111293,1,2800.0
18,5441,3124,1100704391,2015-11-27 06:22:00,2015-11-27 06:27:00,PAID_SUCCESS,5262,19110767,1,5600.0
19,5724,14837,1100707138,2015-01-12 10:29:00,2015-01-12 10:30:00,PAID_SUCCESS,5526,19071522,1,2380.0
20,5724,14837,1100707138,2015-01-12 10:29:00,2015-01-12 10:30:00,PAID_SUCCESS,5527,19070036,2,2940.0
21,5741,15006,1100713925,2015-01-12 11:30:00,2015-01-12 19:05:00,PAID_SUCCESS,5530,59008209,1,39900.0
22,5742,15012,1100713938,2015-01-12 11:45:00,2015-01-12 11:47:00,PAID_SUCCESS,5531,19110489,1,7900.0
23,5822,15006,1100713925,2015-01-12 18:16:00,2015-01-12 19:40:00,PAID_SUCCESS,5581,19089069,1,29900.0
24,5841,15082,1100714080,2015-01-12 20:25:00,2015-01-12 20:31:00,PAID_SUCCESS,5601,19096195,1,16400.0
25,5961,15037,1100714092,2015-02-12 13:21:00,2015-02-12 13:32:00,PAID_SUCCESS,5704,19094073,1,12900.0
26,6041,15309,1100714293,2015-03-12 11:38:00,2015-03-12 11:40:00,PAID_SUCCESS,5781,19096177,1,8190.0
27,6361,16222,1100715592,2015-07-12 14:59:00,2015-07-12 15:09:00,PAID_SUCCESS,6081,19090822,1,6930.0
28,6482,16367,1100715869,2015-08-12 13:10:00,2015-08-12 13:15:00,PAID_SUCCESS,6203,19077278,1,3990.0
29,6482,16367,1100715869,2015-08-12 13:10:00,2015-08-12 13:15:00,PAID_SUCCESS,6204,19077274,1,2990.0
...,...,...,...,...,...,...,...,...,...,...
6411,99441,176002,1100877015,2017-09-20 21:55:00,2017-09-20 22:00:00,PAID_SUCCESS,92941,59004719,1,9900.0
6412,99441,176002,1100877015,2017-09-20 21:55:00,2017-09-20 22:00:00,PAID_SUCCESS,92942,19096168,1,8580.0
6413,99441,176002,1100877015,2017-09-20 21:55:00,2017-09-20 22:00:00,PAID_SUCCESS,92943,19086656,1,4590.0
6414,99441,176002,1100877015,2017-09-20 21:55:00,2017-09-20 22:00:00,PAID_SUCCESS,92944,19111578,1,9900.0
6415,99441,176002,1100877015,2017-09-20 21:55:00,2017-09-20 22:00:00,PAID_SUCCESS,92945,19086639,2,3500.0
6416,99441,176002,1100877015,2017-09-20 21:55:00,2017-09-20 22:00:00,PAID_SUCCESS,92946,59011625,1,9590.0
6417,99441,176002,1100877015,2017-09-20 21:55:00,2017-09-20 22:00:00,PAID_SUCCESS,92947,19047099,1,4050.0
6418,105341,136982,1100852919,2017-09-10 20:05:00,2017-09-10 20:18:00,PAID_SUCCESS,98761,19090397,1,8050.0
6419,105341,136982,1100852919,2017-09-10 20:05:00,2017-09-10 20:18:00,PAID_SUCCESS,98762,59014281,1,6250.0
6420,105341,136982,1100852919,2017-09-10 20:05:00,2017-09-10 20:18:00,PAID_SUCCESS,98763,19124184,1,9900.0
6421,105842,184782,1100881270,2017-10-10 20:00:00,2017-10-10 23:33:00,PAID_SUCCESS,99243,19097934,2,4400.0
6422,105842,184782,1100881270,2017-10-10 20:00:00,2017-10-10 23:33:00,PAID_SUCCESS,99244,19005144,1,2800.0
6423,105842,184782,1100881270,2017-10-10 20:00:00,2017-10-10 23:33:00,PAID_SUCCESS,99245,19112397,1,3150.0
6424,105842,184782,1100881270,2017-10-10 20:00:00,2017-10-10 23:33:00,PAID_SUCCESS,99246,19031690,1,1360.0
6425,105901,27468,1100731690,2017-10-10 21:03:00,2017-10-10 21:21:00,PAID_SUCCESS,99301,19077089,1,3990.0
6426,105901,27468,1100731690,2017-10-10 21:03:00,2017-10-10 21:21:00,PAID_SUCCESS,99302,19100903,2,2040.0
6427,108861,195142,1100883956,2017-10-21 02:12:00,2017-10-21 10:53:00,PAID_SUCCESS,102241,19078392,1,1470.0
6428,108861,195142,1100883956,2017-10-21 02:12:00,2017-10-21 10:53:00,PAID_SUCCESS,102242,19045731,1,2660.0
6429,108861,195142,1100883956,2017-10-21 02:12:00,2017-10-21 10:53:00,PAID_SUCCESS,102243,19076887,1,1610.0
6430,108861,195142,1100883956,2017-10-21 02:12:00,2017-10-21 10:53:00,PAID_SUCCESS,102244,19045730,1,5320.0
6431,108882,121343,1100559973,2017-10-21 08:46:00,2017-10-21 08:53:00,PAID_SUCCESS,102263,19128104,1,15900.0
6432,115701,212963,1100889388,2017-10-11 20:07:00,2017-11-11 06:37:00,PAID_SUCCESS,108961,19120064,1,9900.0
6433,118164,215483,1100889933,2017-11-11 21:49:00,2017-11-11 22:00:00,PAID_SUCCESS,111364,19125082,1,23900.0
6434,119321,217362,1100890624,2017-11-13 14:15:00,2017-11-13 14:40:00,PAID_SUCCESS,112501,19126023,1,9900.0
6435,123061,226222,1100893313,2017-11-22 10:27:00,2017-11-22 10:40:00,PAID_SUCCESS,116241,19122685,1,3990.0
6436,123441,227282,1100893638,2017-11-23 13:07:00,2017-11-23 13:19:00,PAID_SUCCESS,116621,59010885,1,14900.0
6437,123901,76584,1100894599,2017-11-25 20:29:00,2017-11-25 22:15:00,PAID_SUCCESS,117081,19086664,1,12900.0
6438,123901,76584,1100894599,2017-11-25 20:29:00,2017-11-25 22:15:00,PAID_SUCCESS,117082,19124225,1,4500.0
6439,125341,231882,1100895816,2017-11-29 14:32:00,2017-11-29 14:41:00,PAID_SUCCESS,118521,19136319,1,7900.0
6440,125341,231882,1100895816,2017-11-29 14:32:00,2017-11-29 14:41:00,PAID_SUCCESS,118522,19096162,1,7540.0

Check

In [27]:
order_success_item.min()

ORDER_ID                        2121
CUSTOMER_ID                       21
BPCODE                    1100316131
CREATE_DATE      2015-01-11 16:39:00
UPDATE_DATE      2015-01-11 16:44:00
STATUS                  PAID_SUCCESS
ORDER_ITEM_ID                   2121
MATNR                       19000158
QUANTITY                           1
TOTAL_PRICE                       39
dtype: object

In [28]:
order_success_item.max()

ORDER_ID                      139461
CUSTOMER_ID                   252104
BPCODE                    1100906983
CREATE_DATE      2017-12-31 21:51:00
UPDATE_DATE      2017-12-31 21:57:00
STATUS                  PAID_SUCCESS
ORDER_ITEM_ID                 132481
MATNR                       59016513
QUANTITY                          24
TOTAL_PRICE                    89700
dtype: object

In [29]:
order_success_item['QUANTITY'].unique()

array([ 1,  2,  3, 18,  6,  5,  4,  8,  7, 10, 24, 12, 15], dtype=int64)

In [30]:
order_success_item.dtypes

ORDER_ID                  int64
CUSTOMER_ID               int64
BPCODE                    int64
CREATE_DATE      datetime64[ns]
UPDATE_DATE      datetime64[ns]
STATUS                   object
ORDER_ITEM_ID             int64
MATNR                     int64
QUANTITY                  int64
TOTAL_PRICE             float64
dtype: object

# Export file

In [31]:
order_success_item.to_csv('../data_clean/order.csv', index=False)