In [33]:
import unicodecsv

#read data from CSV file and make it to lists
def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)

In [34]:
order = pd.read_csv('../data_clean/order.csv')

In [41]:
import pandas as pd

order = pd.DataFrame(order)

order['CREATE_DATE'] = pd.to_datetime(order['CREATE_DATE'])
order['UPDATE_DATE'] = pd.to_datetime(order['UPDATE_DATE'])

order

,ORDER_ID,CUSTOMER_ID,BPCODE,CREATE_DATE,UPDATE_DATE,STATUS,ORDER_ITEM_ID,MATNR,QUANTITY,TOTAL_PRICE
0,2321,4223,1100702550,2015-10-16 15:36:00,2015-10-16 15:42:00,PAID_SUCCESS,2281,19110489,1,7900.0
1,2481,2509,1100605014,2015-10-18 20:50:00,2015-10-18 20:58:00,PAID_SUCCESS,2421,19110830,1,9900.0
2,2781,5445,1100703863,2015-10-26 11:22:00,2015-10-26 11:25:00,PAID_SUCCESS,2701,19047937,1,3640.0
3,2781,5445,1100703863,2015-10-26 11:22:00,2015-10-26 11:25:00,PAID_SUCCESS,2702,19047936,1,1050.0
4,2781,5445,1100703863,2015-10-26 11:22:00,2015-10-26 11:25:00,PAID_SUCCESS,2703,59008843,1,19900.0
5,3202,8263,1100561933,2015-01-11 16:44:00,2015-01-11 16:46:00,PAID_SUCCESS,3122,19090399,1,1750.0
6,3202,8263,1100561933,2015-01-11 16:44:00,2015-01-11 16:46:00,PAID_SUCCESS,3123,19038032,1,2900.0
7,3202,8263,1100561933,2015-01-11 16:44:00,2015-01-11 16:46:00,PAID_SUCCESS,3124,19111271,1,4830.0
8,3962,10702,1100708595,2015-11-11 10:22:00,2015-11-11 10:33:00,PAID_SUCCESS,3863,19077060,1,3900.0
9,4001,10722,1100708626,2015-11-11 13:44:00,2015-12-11 13:53:00,PAID_SUCCESS,3901,59001239,1,43900.0
10,4461,11804,1100655391,2015-11-16 18:46:00,2015-11-16 18:52:00,PAID_SUCCESS,4301,19111578,1,9900.0
11,4701,12142,1100710303,2015-11-18 10:41:00,2015-11-19 13:49:00,PAID_SUCCESS,4541,19047931,1,5530.0
12,4701,12142,1100710303,2015-11-18 10:41:00,2015-11-19 13:49:00,PAID_SUCCESS,4542,19089735,1,6900.0
13,4941,12863,1100710868,2015-11-21 08:39:00,2015-11-21 08:42:00,PAID_SUCCESS,4761,19078049,1,26600.0
14,5241,13464,1100711990,2015-11-24 06:40:00,2015-11-24 07:03:00,PAID_SUCCESS,5041,59010064,1,4900.0
15,5241,13464,1100711990,2015-11-24 06:40:00,2015-11-24 07:03:00,PAID_SUCCESS,5042,59003359,1,15500.0
16,5343,13830,1100712197,2015-11-25 11:42:00,2015-11-25 11:45:00,PAID_SUCCESS,5144,19089735,2,13800.0
17,5441,3124,1100704391,2015-11-27 06:22:00,2015-11-27 06:27:00,PAID_SUCCESS,5261,19111293,1,2800.0
18,5441,3124,1100704391,2015-11-27 06:22:00,2015-11-27 06:27:00,PAID_SUCCESS,5262,19110767,1,5600.0
19,5724,14837,1100707138,2015-01-12 10:29:00,2015-01-12 10:30:00,PAID_SUCCESS,5526,19071522,1,2380.0
20,5724,14837,1100707138,2015-01-12 10:29:00,2015-01-12 10:30:00,PAID_SUCCESS,5527,19070036,2,2940.0
21,5741,15006,1100713925,2015-01-12 11:30:00,2015-01-12 19:05:00,PAID_SUCCESS,5530,59008209,1,39900.0
22,5742,15012,1100713938,2015-01-12 11:45:00,2015-01-12 11:47:00,PAID_SUCCESS,5531,19110489,1,7900.0
23,5822,15006,1100713925,2015-01-12 18:16:00,2015-01-12 19:40:00,PAID_SUCCESS,5581,19089069,1,29900.0
24,5841,15082,1100714080,2015-01-12 20:25:00,2015-01-12 20:31:00,PAID_SUCCESS,5601,19096195,1,16400.0
25,5961,15037,1100714092,2015-02-12 13:21:00,2015-02-12 13:32:00,PAID_SUCCESS,5704,19094073,1,12900.0
26,6041,15309,1100714293,2015-03-12 11:38:00,2015-03-12 11:40:00,PAID_SUCCESS,5781,19096177,1,8190.0
27,6361,16222,1100715592,2015-07-12 14:59:00,2015-07-12 15:09:00,PAID_SUCCESS,6081,19090822,1,6930.0
28,6482,16367,1100715869,2015-08-12 13:10:00,2015-08-12 13:15:00,PAID_SUCCESS,6203,19077278,1,3990.0
29,6482,16367,1100715869,2015-08-12 13:10:00,2015-08-12 13:15:00,PAID_SUCCESS,6204,19077274,1,2990.0
...,...,...,...,...,...,...,...,...,...,...
6637,99441,176002,1100877015,2017-09-20 21:55:00,2017-09-20 22:00:00,PAID_SUCCESS,92942,19096168,1,8580.0
6638,99441,176002,1100877015,2017-09-20 21:55:00,2017-09-20 22:00:00,PAID_SUCCESS,92943,19086656,1,4590.0
6639,99441,176002,1100877015,2017-09-20 21:55:00,2017-09-20 22:00:00,PAID_SUCCESS,92944,19111578,1,9900.0
6640,99441,176002,1100877015,2017-09-20 21:55:00,2017-09-20 22:00:00,PAID_SUCCESS,92945,19086639,2,3500.0
6641,99441,176002,1100877015,2017-09-20 21:55:00,2017-09-20 22:00:00,PAID_SUCCESS,92946,59011625,1,9590.0
6642,99441,176002,1100877015,2017-09-20 21:55:00,2017-09-20 22:00:00,PAID_SUCCESS,92947,19047099,1,4050.0
6643,105341,136982,1100852919,2017-09-10 20:05:00,2017-09-10 20:18:00,PAID_SUCCESS,98761,19090397,1,8050.0
6644,105341,136982,1100852919,2017-09-10 20:05:00,2017-09-10 20:18:00,PAID_SUCCESS,98762,59014281,1,6250.0
6645,105341,136982,1100852919,2017-09-10 20:05:00,2017-09-10 20:18:00,PAID_SUCCESS,98763,19124184,1,9900.0
6646,105842,184782,1100881270,2017-10-10 20:00:00,2017-10-10 23:33:00,PAID_SUCCESS,99243,19097934,2,4400.0
6647,105842,184782,1100881270,2017-10-10 20:00:00,2017-10-10 23:33:00,PAID_SUCCESS,99244,19005144,1,2800.0
6648,105842,184782,1100881270,2017-10-10 20:00:00,2017-10-10 23:33:00,PAID_SUCCESS,99245,19112397,1,3150.0
6649,105842,184782,1100881270,2017-10-10 20:00:00,2017-10-10 23:33:00,PAID_SUCCESS,99246,19031690,1,1360.0
6650,105901,27468,1100731690,2017-10-10 21:03:00,2017-10-10 21:21:00,PAID_SUCCESS,99301,19077089,1,3990.0
6651,105901,27468,1100731690,2017-10-10 21:03:00,2017-10-10 21:21:00,PAID_SUCCESS,99302,19100903,2,2040.0
6652,108861,195142,1100883956,2017-10-21 02:12:00,2017-10-21 10:53:00,PAID_SUCCESS,102241,19078392,1,1470.0
6653,108861,195142,1100883956,2017-10-21 02:12:00,2017-10-21 10:53:00,PAID_SUCCESS,102242,19045731,1,2660.0
6654,108861,195142,1100883956,2017-10-21 02:12:00,2017-10-21 10:53:00,PAID_SUCCESS,102243,19076887,1,1610.0
6655,108861,195142,1100883956,2017-10-21 02:12:00,2017-10-21 10:53:00,PAID_SUCCESS,102244,19045730,1,5320.0
6656,108882,121343,1100559973,2017-10-21 08:46:00,2017-10-21 08:53:00,PAID_SUCCESS,102263,19128104,1,15900.0
6657,115701,212963,1100889388,2017-10-11 20:07:00,2017-11-11 06:37:00,PAID_SUCCESS,108961,19120064,1,9900.0
6658,118164,215483,1100889933,2017-11-11 21:49:00,2017-11-11 22:00:00,PAID_SUCCESS,111364,19125082,1,23900.0
6659,119321,217362,1100890624,2017-11-13 14:15:00,2017-11-13 14:40:00,PAID_SUCCESS,112501,19126023,1,9900.0
6660,123061,226222,1100893313,2017-11-22 10:27:00,2017-11-22 10:40:00,PAID_SUCCESS,116241,19122685,1,3990.0
6661,123441,227282,1100893638,2017-11-23 13:07:00,2017-11-23 13:19:00,PAID_SUCCESS,116621,59010885,1,14900.0
6662,123901,76584,1100894599,2017-11-25 20:29:00,2017-11-25 22:15:00,PAID_SUCCESS,117081,19086664,1,12900.0
6663,123901,76584,1100894599,2017-11-25 20:29:00,2017-11-25 22:15:00,PAID_SUCCESS,117082,19124225,1,4500.0
6664,125341,231882,1100895816,2017-11-29 14:32:00,2017-11-29 14:41:00,PAID_SUCCESS,118521,19136319,1,7900.0
6665,125341,231882,1100895816,2017-11-29 14:32:00,2017-11-29 14:41:00,PAID_SUCCESS,118522,19096162,1,7540.0
6666,125944,203942,1100887409,2017-01-12 00:02:00,2017-01-12 00:01:00,PAID_SUCCESS,119085,19101658,1,4490.0

In [42]:
order.dtypes

ORDER_ID                  int64
CUSTOMER_ID               int64
BPCODE                    int64
CREATE_DATE      datetime64[ns]
UPDATE_DATE      datetime64[ns]
STATUS                   object
ORDER_ITEM_ID             int64
MATNR                     int64
QUANTITY                  int64
TOTAL_PRICE             float64
dtype: object